
#section_one {
	width:100%;
	height:1052px;
	margin-top:96px;
	position: relative;
	overflow: hidden;
}

.section_one_inner {
	position: relative;
	z-index: 1;
	max-width:1630px;
	margin:112px auto 0;
	span.sec_one_subheader {
		color:#fff;
		text-transform: uppercase;
		font-size: 37px;
		display: block;
		letter-spacing: 0.08em;
		@include industry_black;
	}
	span.sec_one_large_header {
		display: block;
		font-size: 164px;
		line-height: 150px;
		color:#fff;
		text-transform: uppercase;
		max-width:830px;
		margin-top:5px;
		@include montserrat_bold;
	}
}

ul.sec_one_sp_list {
	list-style: none;
	display: block;
	margin-top:16px;
	li {
		color:#fff;
		display: inline-block;
		text-transform: uppercase;
		font-size: 19px;
		line-height: 23px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		@include industry_black;
		&:after {
			content:"";
			display: inline-block;
			width:5px;
			vertical-align: top;
			margin-top:8px;
			height:5px;
			background: $bluesky;
			margin:8px 6px 0 12px;
			border-radius: 50%;
		}
		&:last-of-type {
			&:after {
				display: none;
			}
		}
	}
}

.pa_input_wrapper {
	width:633px;
	display: flex;
	margin-top:40px;
	.pa_input {
		flex-grow:1;
		background:#fff;
		height:69px;
		display: flex;
		align-items: center;
		span.pa_input_value {
			color:$bluedark;
			text-transform: uppercase;
			font-size: 16px;
			letter-spacing: 0.075em;
			padding: 0 32px;
			@include montserrat_bold;
			&:after {
				content:"";
				display: inline-block;
				vertical-align: top;
				width: 0; 
				height: 0; 
				margin-top:3px;
				margin-left:6px;
				border-left: 7px solid transparent;
				border-right: 7px solid transparent;
				border-top: 9px solid $red;
			}
		}
	}
	.pa_submit {
		flex-basis:135px;
		flex-shrink:0;
		height:69px;
		background: $red;
		color:#fff;
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		font-size: 17px;
		letter-spacing: 0.1em;
		@include industry_black;
	}
}


.parallax {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:1052px;
	img {
		position: absolute;
		top:0;
		left:0;
		transform: translate3d(0, 0,0);
		width:100%;
		height: 100%;
		object-fit:cover;
		object-position:50% 0;
	}
}