#section_three {
	width:100%;
	height:995px;
	background: $bluedark;
	padding:0 160px;
}

.sec_three_inner {
	max-width:1605px;
	margin:0 auto;
	padding:94px 0 0px;
}

.sec_three_slider {
	.slick-slide {
	    margin: 0 33px;
	  }
	  .slick-list {
	    margin: 0 -33px;
	    padding-bottom: 45px;
	  }
	  .slick-dots {
	  	bottom: -89px;
	  	width:250px;
	  	margin:auto;
	  	position: relative;
	  	li.slick-active {
	  		button {
	  			&:before {
	  				color:#fff;
	  			}
	  		}
	  	}
	  	li:hover {
	  		button {
	  			&:before {
	  				color:#fff;
	  			}
	  		}
	  	}
	  	li {
	  		margin:0;
	  		width:33px;
	  		button {
	  			width:33px;
	  			&:before {
	  				width:33px;
	  				opacity: 1;
	  				color: #526787;
	  				font-size:30px;
	  			}
	  		}
	  	}
	  }
}


.sec_three_slide {
	border:1px solid #4d5f78;
	height:643px;
	background: transparent;
	transition: background 375ms ease-in-out, transform 900ms cubic-bezier(.17,.66,.34,.98);
	transform: translateY(35px);
	&:hover {
		background:#fff;
		transform: translateY(0px);
		.sec_three_slide_inner {
			span.large_quote {
				color:$bluedark;
			}
			span.small_quote {
				color:$bluedark;
			}
		}
	}
	.sec_three_slide_inner {
		padding:93px 53px 20px;
		img.stars {
			width:205px;
			height: 29px;
		}
		span {
			display: block;
		}
		span.large_quote {
			color:#fff;
			font-size: 32px;
			line-height: 42px;
			margin-top:20px;
			transition: all 375ms ease-in-out;
			@include industry_bold;
		}
		img.quote_line {
			width:79px;
			height:10px;
			margin-top:22px;
		}
		span.small_quote {
			font-size: 17px;
			line-height: 30px;
			color:#a0acb8;
			margin:20px 0 0;
			transition: all 375ms ease-in-out;
			@include montserrat_light;
		}
		span.name {
			text-transform: uppercase;
			color:$bluelight;
			font-size: 15px;
			letter-spacing: 0.24em;
			margin-top:45px;
			@include industry_black;
		}
	}
}


.sec_three_arrow_wrapper {
	width:100%;
	max-width:400px;
	margin: 52px auto 0;
	display: flex;
	justify-content: space-between;
	.sec_three_arrow {
		width:75px;
		cursor: pointer;
		svg {
			width:75px;
			height: 47px;
		}
	}
	.sec_three_arrow_left {
		transform: rotate(180deg);
	}
}


@media screen and (max-width: 1815px) {
	
	
	.sec_three_inner {
		max-width: 1335px;
	}
	
	
} /* Media Query */



@media screen and (max-width: 1450px) {
	
	
	.sec_three_inner {
		max-width: 1055px;
	}
	    
	
	.sec_three_slider {
		.slick-slide {
	    margin: 0 33px;
	  }
	  .slick-list {
	    margin: 0 -33px;
	    padding-bottom: 45px;
	  }
	 }
	 
	 .sec_three_slide {
		 .sec_three_slide_inner {
			 span.name {
				 margin-top: 33px;
			 }
		 }
	 }
	
	
} /* Media Query */


@media screen and (max-width: 1365px) {
	
	
	#section_three {
		padding: 0 80px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1165px) {
	
	
	#section_three {
		overflow: hidden;
	}
	
	.sec_three_inner {
		//max-width:490px;
	}
	
	.sec_three_slider {
		.slick-list {
			overflow: visible;
		}
		.slick-slide:not(.slick-center) {
			.sec_three_slide {
				.sec_three_slide_inner {
					padding:90px 70px;
				}
			}
		}
	}
	
	.sec_three_slide {
		.sec_three_slide_inner {
			padding: 90px 45px;
		}
	}
	
	
} /* Media Query */



@media screen and (max-width: 1066px) {
	
	.sec_three_slider {
		.slick-dots {
			display: none !important;
		}
	}	
	
	
	.sec_three_arrow_wrapper {
		max-width: 200px;
		margin-top:115px;
		.sec_three_arrow_right {
			position: relative;
			top:2px;
		}
	}
	
	.sec_three_slide {
		&:hover {
			transform: translateY(35px);
			background: transparent;
			.sec_three_slide_inner {
				span.large_quote {
					color:#fff;
				}
			}
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	#section_three {
		padding:0 34px 80px;
		height:auto;
	}
	
	
	.sec_three_slider {
		.slick-list {
			overflow: hidden;
		}
	}
	
	.sec_three_slider {
		.slick-slide:not(.slick-center) {
			.sec_three_slide {
				.sec_three_slide_inner {
					padding:0;
				}
			}
		}
	}  
	
	.sec_three_slide {
		height:auto;
		border:none;
		transform:translateY(0);
		&:hover {
			transform:translateY(0);
		}
		.sec_three_slide_inner {
			padding:0;
			img.stars {
				width:185px;
			}
			span.large_quote {
				font-size: 28px;
				line-height: 37px;
			}
			img.quote_line {
				margin-top: 22px;
			}
			span.small_quote {
				margin: 27px 0 0;
				font-size: 16px;
				line-height: 26px;
			}
			span.name {
				margin-top: 33px;
				font-size: 13px;
			}
		}
	}
	
	
	.sec_three_arrow_wrapper {
		margin-top: 29px;
		.sec_three_arrow {
			svg {
				width:66px;
				height:41px;
			}
		}
	}
	
	
} /* Media Query */