
#section_one {
	width:100%;
	height:1052px;
	margin-top:96px;
	position: relative;
	overflow: hidden;
}

.section_one_inner {
	position: relative;
	z-index: 3;
	max-width:1630px;
	margin:112px auto 0;
	span.sec_one_subheader {
		color:#fff;
		text-transform: uppercase;
		font-size: 37px;
		display: block;
		letter-spacing: 0.08em;
		@include industry_black;
	}
	span.sec_one_large_header {
		display: block;
		font-size: 164px;
		line-height: 150px;
		color:#fff;
		text-transform: uppercase;
		max-width:830px;
		margin-top:5px;
		@include montserrat_bold;
	}
}

ul.sec_one_sp_list {
	list-style: none;
	display: block;
	margin-top:16px;
	li {
		color:#fff;
		display: inline-block;
		text-transform: uppercase;
		font-size: 19px;
		line-height: 23px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		@include industry_black;
		&:after {
			content:"";
			display: inline-block;
			width:5px;
			vertical-align: top;
			margin-top:8px;
			height:5px;
			background: $bluesky;
			margin:8px 6px 0 12px;
			border-radius: 50%;
		}
		&:last-of-type {
			&:after {
				display: none;
			}
		}
	}
}

.pa_input_wrapper {
	width:633px;
	display: flex;
	margin-top:40px;
	.pa_input {
		flex-grow:1;
		background:#fff;
		height:69px;
		display: flex;
		align-items: center;
		span.pa_input_value {
			color:$bluedark;
			text-transform: uppercase;
			font-size: 16px;
			letter-spacing: 0.075em;
			padding: 0 32px;
			@include montserrat_bold;
			&:after {
				content:"";
				display: inline-block;
				vertical-align: top;
				width: 0; 
				height: 0; 
				margin-top:3px;
				margin-left:6px;
				border-left: 7px solid transparent;
				border-right: 7px solid transparent;
				border-top: 9px solid $red;
			}
		}
	}
	.pa_submit {
		flex-basis:135px;
		flex-shrink:0;
		height:69px;
		background: $red;
		color:#fff;
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		font-size: 17px;
		letter-spacing: 0.1em;
		@include industry_black;
	}
}


.pa_sps_wrapper {
	margin-top:153px;
	display: flex;
	max-width:1055px;
	justify-content: space-between;
}


.pa_sps {
	&:first-of-type {
		margin-right:45px;
	}
	span {
		display: block;
	}
	span.pa_sps_title {
		text-transform: uppercase;
		color:$bluesky;
		font-size: 23px;
		letter-spacing: 0.14em;
		@include industry_black;
	}
	span.pa_sps_description {
		color:#fff;
		font-size: 17px;
		line-height: 32px;
		margin-top:15px;
		max-width:480px;
		@include montserrat_light;
	}
	a.learn_more {
		text-transform: uppercase;
		color:#fff;
		text-decoration: none;
		font-size: 15px;
		letter-spacing: 0.14em;
		margin-top:35px;
		width:215px;
		display: flex;
		transition: all 200ms ease-in-out;
		@include industry_black;
		&:hover {
			color:$bluesky;
		}
		span {
			
		}
		svg {
			width:80px;
			height:15px;
			margin-left:12px;
		}
	}
}


.parallax {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:1052px;
	&:before, &:after {
		content:"";
		display: block;
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}
	&:before {
		z-index: 1;
		background:rgba(0,41,87,0.2);
		mix-blend-mode: multiply;
	}
	&:after {
		z-index: 2;
		position: absolute;
		width:100%;
		height:1052px;
		top:96px;
		left:0;
		background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(68,113,155,0) 46%,rgba(16,49,87,1) 87%,rgba(0,29,65,1) 100%);
	}
	img {
		position: absolute;
		top:0;
		left:0;
		transform: translate3d(0, 0,0);
		width:100%;
		height: 100%;
		object-fit:cover;
		object-position:50% 0;
	}
}


.sec_one_play_wrapper {
	width:390px;
	height:390px;
	position: absolute;
	bottom:90px;
	right:107px;
	z-index:3;
	img.play_button_dots {
		position: absolute;
		top:0;
		right:0;
		width:345px;
	}
	.vid_img_wrapper {
		position: absolute;
		top: 74px;
		left:19px;
		img {
			display: block;
			width:295px;
			height:295px;
		}
	}
	img.play_verbiage {
		position: absolute;
    top: 66px;
    left: 23px;
	}
}



