#section_four {
	overflow: hidden;
	position: relative;
	padding:0 97px 160px;
	img.circles.desktop {
		position: absolute;
		top: -36px;
    left: -20px;
		width:430px;
		height:413px;
		transform: rotate(-90deg);
	}
	img.circles.tablet {
		display:none; 
	}
}



.sec_four_top {
	text-align: center;
	position: relative;
	z-index:1;
	padding:225px 0 0 0;
	h2 {
		span {
			display: block;
		}
		span.large_header {
			color:$blue;
			font-size: 170px;
			text-transform: uppercase;
			@include montserrat_bold;
		}
		span.sub_header {
			text-transform: uppercase;
			font-size: 24px;
			letter-spacing: 0.26em;
			margin: 18px 0 0;
			@include industry_black;
			&:after {
				content:"";
				display: block;
				width:77px;
				height:10px;
				margin:48px auto 0;
				background-size:80px 11px;
				background: url(#{$themePath}images/graphic-squiggle.svg) no-repeat;
			}
		}
	}
}



span.sec_four_description {
	display: block;
	font-size:35px;
	line-height: 55px;
	color:#738095;
	max-width:1000px;
	margin:36px auto 0;
	@include montserrat_extralight;
}

a.sec_four_button {
	margin:38px auto 0;
}


.sec_four_bottom {
	display: flex;
	justify-content: space-between;
	max-width:1605px;
	margin:118px auto 0;
}

.sec_four_col {
	flex-basis: 44.5%;
	h3.hack {
		padding-top:5px;
	}
	h3.hack_two {
		padding-top:2px;
	}
}


@media screen and (max-width: 1450px) {
	
	
	
	#section_four {
		padding-bottom:140px;
		img.circles.desktop {
			display: none;
		}
		img.circles.tablet {
			display: block;
			width:755px;
			height:312px;
			margin:0 auto;
		}
	}
	
	.sec_four_top {
		padding-top:0;
		margin:-92px 0 0 0;
		h2 {
			span.large_header {
				font-size: 165px;
			}
			span.sub_header {
				font-size: 24px;
				margin: 18px 0 0;
				&:after {
					margin: 54px auto 0;
				}
			}
		}
	}
	
	.sec_four_bottom {
		display: block;
		max-width:920px;
		margin:97px auto 0;
	}
	
.sec_four_col {
	h3.hack {
		padding-top:0px;
	}
}


span.sec_four_description {
	margin: 30px auto 0;
}
	
	
	
} /* Media Query */



@media screen and (max-width: 1420px) {
	
	
	#section_four {
		padding: 0 75px 160px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1385px) {
	
	.sec_four_top {
		h2 {
			span.large_header {
				font-size: 145px;
			}
			span.sub_header {
				&:after {
					
				}
			}
		}
	}
	
	    
	
	
} /* Media Query */


@media screen and (max-width: 1225px) {
	
	
	.sec_four_top {
		h2 {
			span.large_header {
				font-size: 135px;
			}
			span.sub_header {
				margin: 18px auto 0;
				max-width: 515px;
				line-height: 32px;
				&:after {
					
				}
			}
		}
	}
	
	
} /* Media Query */



@media screen and (max-width: 1185px) {
	
	#section_four {
		padding-bottom:80px;
		img.circles.tablet {
			width: 455px;
			height: 188px;
			margin-top:-7px;
		}
	}
	
	.sec_four_top {
		margin: -43px 0 0 0;
		h2 {
			
			span.large_header {
				font-size: 94px;
			}
			span.sub_header {
				margin: 10px auto 0;
				max-width: 515px;
				line-height: 34px;
				&:after {
					margin: 35px auto 0;
				}
			}
		}
		span.sec_four_description {
			font-size: 30px;
			line-height: 45px;
			margin: 27px auto 0;
		}
	}
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	
	#section_four {
		padding:0 0px 80px;
	}
	
	
	.sec_four_bottom {
		padding-left:54px;
		padding-right:54px;
	}
	
	.sec_four_top {
		span.sec_four_description {
			padding-left:15px;
			padding-right:15px;
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	#section_four {
		padding-bottom:65px;
		img.circles.tablet {
			width: 350px;
			height:145px;;
		}
	}
	
	.sec_four_top {
		margin: -29px 0 0 0;
		h2 {
			
			span.large_header {
				font-size: 50px;
			}
			span.sub_header {
				font-size: 17px;
				line-height: 28px;
				max-width: 470px;
				&:after {
					margin: 29px auto 0;
				}
			}
		}
		span.sec_four_description {
			font-size: 25px;
			line-height: 38px;
			padding-left:32px;
			padding-right:32px;
			margin: 25px auto 0;
		}
	}
	
	
	.sec_four_bottom {
		padding-left:32px;
		padding-right:32px;
		margin: 86px auto 0;
	}
	
	a.sec_four_button {
		width:383px;
		//width:calc(100% - 64px);
	}
	
} /* Media Query */

@media screen and (max-width: 414px) {
	
	
	a.sec_four_button {
		width:calc(100% - 64px);
		margin: 27px auto 0;
	}
	
} /* Media Query */

@media screen and (max-width: 405px) {
	
	
	.sec_four_top {
		
		h2 {
			
			span.large_header {
				font-size: 45px;
			}
			span.sub_header {
				padding: 0 15px;
				&:after {
					
				}
			}
		}
		span.sec_four_description {
			
		}
	}
	
	
} /* Media Query */