

#section_two {
	width:100%;
	position: relative;
	padding-bottom:218px;
	.circles {
		width:445px;
		height:428px;
		position: absolute;
		top:0;
		right:0;
	}
}


.sec_two_top {
	padding: 184px 0 0 97px;
	max-width: 1824px;
	margin:0 auto;
	position: relative;
	z-index:1;
	h1 {
		span {
			display: block;
		}
		span.large_header {
			font-size:170px;
			text-transform: uppercase;
			color:$blue;
			@include montserrat_bold;
		}
		span.sub_header {
			text-transform: uppercase;
			font-size: 24px;
			letter-spacing: 0.26em;
			margin-top:19px;
			margin-left:10px;
			@include industry_black;
			&:after {
				content:"";
				display: inline-block;
				width:80px;
				height:11px;
				vertical-align: top;
				margin-top:5px;
				margin-left:7px;
				background-size:80px 11px;
				background: url(#{$themePath}images/graphic-squiggle.svg);
			}
		}
	}
	span.sec_two_top_description {
		font-size: 35px;
		line-height: 55px;
		margin-top:60px;
		margin-left:20px;
		color:$bluedark;
		display: block;
		max-width:967px;
		@include montserrat_extralight;
	}
}

.sec_two_bottom {
	display: flex;
	margin-top:95px;
}


.sec_two_left {
	flex-basis:100%;
	img.pic {
		display: block;
		box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.3);
	}
}

.sec_two_right {
	flex-basis:100%;
}


.sec_two_cta {
	max-width:720px;
	position: relative;
	margin:95px 0 0 97px;
	img.sec_two_cta_img {
		position: absolute;
		top: -63px;
    left: -37px;
	}
	span.sec_two_cta_description {
		display: block;
		font-size: 34px;
		line-height: 48px;
		position: relative;
		z-index:1;
		padding:64px 0 0 100px;
		@include industry_book;
	}
}

.sec_two_right {
	padding-left:6.5%;
	padding-right:7%;
}


a.sch_free_consult {
	margin:29px 0 0 100px;
	color:#fff;
	display: inline-block;
	text-decoration: none;
	border:1px solid $greydark;
	font-size: 17px;
	height:96px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	width:413px;
	position: relative;
	z-index:1;
	@include industry_bold;
	&:before {
		content:"";
		display: block;
		position: absolute;
		top:12px;
		left:16px;
		width:calc(100% - 32px);
		height:calc(100% - 24px);
		background: $red;
		transition: all 300ms linear;
		z-index:-2;
	}
	&:hover {
		&:before {
			background: $bluelight;
		}
	}
}

@media screen and (max-width: 1715px) {
	
	
	#section_two {
		overflow: hidden;
	}
	
	.sec_two_left {
		flex-basis:50%;
		flex-shrink:0;
		margin-left:-20px;
		img.pic {
			max-width:100%;
			height:auto;
		}
	}
	
	.sec_two_right {
		flex-grow:1;
		
	}
	
	
	
} /* Media Query */

@media screen and (max-width: 1450px) {
	
	#section_two {
		padding-bottom:120px;
	}
	
	.sec_two_top {
		span.sec_two_top_description {
	    margin-top: 33px;
	    margin-left:130px;
			max-width: 956px;
	  }
	}
	
	
	.sec_two_bottom {
		margin-top: 118px;
	}
	
	
	.sec_two_left {
		flex-basis:620px;
		flex-shrink:0;
	}
	
	
	
	.sec_two_cta {
		margin: 95px 0 0 59px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1145px) {
	
	
	
	img.circles {
		display: none;
	}
	
	.sec_two_top {
		padding: 230px 97px 0;
		h1 {
			span.large_header {
				font-size: 92px;
			}
			span.sub_header {
				margin-left: 0px;
			}
		}
		span.sec_two_top_description {
			margin-left: 0px;
			font-size: 30px;
			line-height: 45px;
		}
	}
	
	.sec_two_left {
    flex-basis: 579px;
   }
	
	
} /* Media Query */


@media screen and (max-width: 1110px) {
	
	
	.sec_two_bottom {
		flex-direction: column;
		margin-top: 92px;
	}
	
	.sec_two_left {
		order:2;
	}
	
	.sec_two_right {
		order:1;
		padding:0 97px;
	}
	
	
} /* Media Query */