
#section_one {
	width:100%;
	height:1052px;
	margin-top:96px;
	position: relative;
	padding:1px 97px 0;
	z-index:0;
}



.sec_one_gradient {
	z-index: 1;
	position: absolute;
	width:100%;
	height:100%;
	top:96px;
	left:0;
	background: linear-gradient(to bottom, rgba(125,185,232,0) 41%,rgba(0,29,65,1) 84%);
// 	background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(68,113,155,0) 46%,rgba(16,49,87,1) 87%,rgba(0,29,65,1) 100%);
}


/*
.sec_one_cover {
	z-index: 2;
	position: absolute;
	width:100%;
	height:1052px;
	top:0px;
	left:0;
	background:rgba(0,41,87,0.12);

}
*/



.section_one_inner {
	position: relative;
	z-index: 3;
	max-width:1630px;
	margin:112px auto 0;
	span.sec_one_subheader {
		color:#fff;
		text-transform: uppercase;
		font-size: 37px;
		display: block;
		letter-spacing: 0.08em;
		@include industry_black;
	}
	span.sec_one_large_header {
		display: block;
		font-size: 164px;
		line-height: 150px;
		color:#fff;
		text-transform: uppercase;
		max-width:830px;
		margin-top:5px;
		margin-left:-10px;
		@include montserrat_bold;
	}
}

ul.sec_one_sp_list {
	list-style: none;
	display: block;
	margin-top: 18px;
	li {
		color:#fff;
		display: inline-block;
		text-transform: uppercase;
		font-size: 19px;
		line-height: 23px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		@include industry_black;
		&:after {
			content:"";
			display: inline-block;
			width:5px;
			vertical-align: top;
			margin-top:8px;
			height:5px;
			background: $bluesky;
			margin:8px 6px 0 12px;
			border-radius: 50%;
		}
		&:last-of-type {
			&:after {
				display: none;
			}
		}
	}
}

.pa_input_wrapper {
	width:633px;
	display: flex;
	margin-top:40px;
	position: relative;
	.pa_input {
		flex-grow:1;
		background:#fff;
		height:69px;
		display: flex;
		align-items: center;
		cursor: pointer;
		span.pa_input_value {
			color:$bluedark;
			text-transform: uppercase;
			font-size: 16px;
			letter-spacing: 0.075em;
			padding: 0 32px;
			@include montserrat_bold;
			&:after {
				content:"";
				display: inline-block;
				vertical-align: top;
				width: 0; 
				height: 0; 
				margin-top:3px;
				margin-left:6px;
				border-left: 7px solid transparent;
				border-right: 7px solid transparent;
				border-top: 9px solid $red;
			}
		}
		span.pa_input_value.mobile {
			display: none;
		}
	}
	.pa_submit {
		flex-basis:135px;
		flex-shrink:0;
		height:69px;
		background: $red;
		color:#fff;
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		font-size: 17px;
		letter-spacing: 0.1em;
		cursor: pointer;
		@include industry_black;
		transition: all 200ms ease-in-out;
		&:hover {
			background: $blue;
		}
	}
	.pa_submit.hover {
		background: $blue;
	}
	.step_two {
		width:135px;
		height:69px;
		position: absolute;
		top:0;
		right:0;
		opacity: 0;
		visibility: hidden;
		cursor: pointer;
	}
	.step_two.open {
		opacity: 1;
		visibility: visible;
	}
}


.pa_dropdown {
	position: absolute;
	top: 69px;
	left:0;
	width:100%;
	display: none;
	ul {
		list-style: none;
		background:#f2f4f7;
		padding:35px 32px;
		li {
			color: #001a3d;
			text-transform: uppercase;
			font-size: 16px;
			letter-spacing: 0.075em;
			margin-bottom:30px;
			cursor: pointer;
			transition: all 200ms ease-in-out;
			@include montserrat_bold;
			&:last-of-type {
				margin-bottom:0;
			}
			&:hover {
				color:$bluelight;
			}
		}
	}
}


.pa_overlay {
	position: fixed;
	width:100%;
	height:100%;
	background: #fff;
	top:0;
	left:0;
	z-index:10;
	background: $bluedark;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	transform: translateX(100%);
	transition: transform 1200ms cubic-bezier(.17,.66,.34,.98);
}

.pa_overlay.open {
	transform: translateX(0%);
}

.pa_close {
	width:65px;
	height:65px;
	//background: pink;
	position: absolute;
	top:35px;
	right:35px;
	cursor: pointer;
	&:hover {
		&:before, &:after {
			background:$red;
		}
	}
	&:before, &:after {
		content:"";
		display: block;
		width:100%;
		height:5px;
		position: absolute;
		top:30px;
		left:0;
		background:$bluelight;
		transition: all 200ms ease-in-out;
	}
	&:before {
		transform: rotate(-45deg);
	}
	&:after {
		transform: rotate(45deg);
	}
}

.pa_overlay_inner {
	text-align: center;
	padding:155px 0;
	height:100%;
	span.large_header {
		color:#fff;
		display: block;
		text-transform: uppercase;
		font-size: 93px;
		@include montserrat_bold;
		}
		span.small_header {
			display: block;
			font-size: 15px;
			margin-top:22px;
			color:$bluelight;
			letter-spacing: 0.28em;
			text-transform: uppercase;
			@include industry_black;
			&:after {
				content:"*";
				color:$bluelight;
				font-size: 18px;
				display: inline-block;
				vertical-align: top;
				margin-left:10px;
			}
		}
		.gform_wrapper {
			max-width:1000px;
			margin:87px auto 0;
		}
		ul {
			list-style: none;
			display: flex;
			flex-wrap:wrap;
			justify-content: space-between;
			li {
				flex-basis:49%;
				margin-bottom:18px;
				position: relative;
				&:after {
					content:"*";
					position: absolute;
					top: 27px;
					right:23px;
					z-index:1;
					font-size: 22px;
					color:$bluelight;
					@include industry_black;
				}
				label {
					display: none;
				}
				input, textarea {
					border:none;
					width:100%;
					font-size: 16px;
					letter-spacing: 0.03em;
					padding:21px 45px 22px 23px;
					@include montserrat_light;
				}
				textarea {
					height:201px;
				}
			}
			li.textarea_wrap {
				flex-basis:100%;
			}
		}
	}
	.gfield_description, .validation_message {
			text-align: left;
			text-transform: uppercase;
			color:$bluelight;
			display: block;
			position: relative;
			top:7px;
			left:3px;
			@include industry_bold;
		}
	.gform_footer {
		width:353px;
		margin:0 auto;
		border:1px solid #819ca8;
		height:97px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		cursor: pointer;
		&:before {
			content:"";
			display: block;
			position: absolute;
			top:15px;
			left:12px;
			width:calc(100% - 24px);
			height:calc(100% - 30px);
			background: $red;
			transition: all 300ms linear;
			z-index:-2;
		}
		&:hover {
			&:before {
				background: $bluelight;
			}
		}
		input[type="submit"] {
			background: transparent;
			border:none;
			color:#fff;
			font-size: 17px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			position: absolute;
			width:100%;
			height:100%;
			top:0;
			left:0;
			cursor: pointer;
			@include industry_bold;
		}
		
	}
	
	


.pa_sps_wrapper {
	margin-top: 154px;
	display: flex;
	max-width:1055px;
	justify-content: space-between;
}


.pa_sps {
	&:first-of-type {
		margin-right:45px;
	}
	span {
		display: block;
	}
	span.pa_sps_title {
		text-transform: uppercase;
		color:$bluesky;
		font-size: 23px;
		letter-spacing: 0.14em;
		@include industry_black;
	}
	span.pa_sps_description {
		color:#fff;
		font-size: 17px;
		line-height: 32px;
		margin-top:15px;
		max-width:480px;
		@include montserrat_light;
	}
	a.learn_more {
		text-transform: uppercase;
		color:#fff;
		text-decoration: none;
		font-size: 15px;
		letter-spacing: 0.14em;
		margin-top:35px;
		width:215px;
		display: flex;
		transition: all 200ms ease-in-out;
		@include industry_black;
		&:hover {
			color:$bluesky;
		}
		span {
			
		}
		svg {
			width:80px;
			height:15px;
			margin-left:12px;
		}
	}
}


.parallax {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:1052px;
	img {
		position: absolute;
		top:0;
		left:0;
		transform: translate3d(0, 0,0);
		width:100%;
		height: 100%;
		object-fit:cover;
		object-position:50% 0;
	}
}


.sec_one_play_wrapper {
	width:390px;
	height:390px;
	position: absolute;
	bottom: 88px;
	right: 122px;
	z-index:3;
	cursor: pointer;
	.sec_one_wistia {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index:2;
	}
	&:hover {
		.vid_img_wrapper {
			&:after {
				opacity: 1;
			}
		}
	}
	img.play_button_dots {
		position: absolute;
		top:0;
		right:0;
		width:345px;
	}
	.vid_img_wrapper {
		position: absolute;
		top: 74px;
		left:19px;
		overflow: hidden;
		border-radius: 50%;
		box-shadow: 0px 0px 49px -5px rgba(0,0,0,0.58);
		&:after {
			content:"";
			display: block;
			width:100%;
			height:100%;
			background: rgba(56,123,212,0.65);
			position: absolute;
			top:0;
			left:0;
			z-index:1;
			border-radius: 50%;
			opacity: 0;
			transition: all 200ms ease-in-out;
		}
		img {
			display: block;
			width:295px;
			height:295px;
			border-radius: 50%;
		}
	}
	img.play_verbiage {
		position: absolute;
    top: 66px;
    left: 19px;
    z-index:1;
    
	}
}




img.tab_hero {
	display: none;
}



@media screen and (max-width: 1685px) {
	
	
	.pa_sps_wrapper {
		max-width: 785px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1450px) {
	
	
	.sec_one_play_wrapper {
		right: 61px;
	}	
	
  .sec_one_gradient {
		 //height: 945px;
	}  
	
	
} /* Media Query */



@media screen and (max-width: 1340px) {
	
	
	.section_one_inner {
		span.sec_one_subheader {
			font-size: 25px;
		}
		span.sec_one_large_header {
			font-size: 110px;
			line-height: 105px;
			margin-left:-7px;
		}
	}
	
	.pa_sps_wrapper {
    margin-top: 116px;
  }
  
  
  ul.sec_one_sp_list {
	  margin-top: 9px;
	  li {
		  font-size: 15px;
	  }
  }
  
  .pa_input_wrapper {
    margin-top: 37px;
   }
   
   
   .pa_sps  {
	 		&:first-of-type {
	     margin-right: 0;
    	}
		}
   
   
   .sec_one_play_wrapper {
    bottom: 135px;
   }
	
	
} /* Media Query */


@media screen and (max-width: 1290px) {
	
	#section_one {
		//height: 1017px;
		height:auto;
		background:$bluedark;
		z-index:1;
		padding-bottom:290px;
	}
	
	section {
		z-index:0;
	}
	
	
	.section_one_inner {
		margin: 89px auto 0;
	}
	
	.pa_sps_wrapper {
		margin-top: 112px;
	}
	
	    
	
	img.tab_hero {
		display: block;
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		max-height:780px;
		object-fit:cover;
		object-position:top center;
	}
	
	
	.parallax {
		img {
			display: none;
		}
	}
	
	
	.sec_one_play_wrapper {
		position: relative;
		top:0;
		margin:0 auto;
		right:0;
		margin-top: 0;
		img.play_button_dots {
			transform: rotate(-45deg);
			transform-origin: 0px -22px 0;
			margin: 155px 121px 0 0;
			width: 310px;
			//width:390px;
		}
		.vid_img_wrapper {
			 top: 74px;
			 left: 58px;
			 position: relative;
			 width:270px;
			 height: 270px;
			img {
				width:270px;
				height:270px;
			}
		}
		img.play_verbiage {
			top: 55px;
			left: 47px;
		}
	}
	
	
	.pa_sps {
		a.learn_more {
			margin-top: 35px;
		}
	}
	
	.pa_sps_wrapper {
		max-width:100%;
	}
	
	
	.pa_sps {
		flex-basis:47%;
	}
	
	
	ul.sec_one_sp_list {
		li {
			letter-spacing: 0.07em;
			&:after {
				width:4px;
				height:4px;
				margin: 8px 4px 0 7px;
			}
		}
	}
	
	
	.sec_one_gradient {
		display: none;
	}
	
	
	.mobile_position_play {
		position: absolute;
		bottom: -175px;
		left:0;
		width:100%;

	}

	
	
} /* Media Query */


@media screen and (max-width: 1220px) {
	
	
	.pa_overlay_inner {
		padding: 159px 0 105px;
			span.large_header {
				font-size: 62px;
			}
			.gform_wrapper {
				margin: 51px auto 0;
				padding:0 54px;
			}
		}
	
	
	
} /* Media Query */



@media screen and (max-width: 1066px) {
	
	
	#section_one {
		margin-top: 149px;
		padding-top:1px;
		padding-left:54px;
		padding-right:54px;
	}
	
	
	
	
	.pa_sps {
		span.pa_sps_title {
			font-size: 21px;
		}
		span.pa_sps_description {
			font-size: 16px;
			line-height: 30px;
		}
	}
	
	
	
	
	
		
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	
	#section_one {
		padding:1px 32px 280px;
		//overflow: hidden;
		height:auto;
		margin-top:60px;
	}
	
	.section_one_inner {
		margin: 66px auto 0;
		span.sec_one_subheader {
			font-size: 22px;
		}
		span.sec_one_large_header {
			font-size: 72px;
			line-height: 69px;
			margin-left:-4px;
		}
	}
	
	
	ul.sec_one_sp_list {
		margin-top: 22px;
		max-width:505px;
		li {
			letter-spacing: 0.065em;
			display: inline;
			&:after {
				
			}
		}
	}
	
	
.pa_input_wrapper {
	flex-direction: column;
	width:100%;
	margin-top: 44px;
	max-width: 500px;
	.pa_input {
		flex-basis:auto;
		height:65px;
		span.pa_input_value {
			margin:0 auto;
			&:after {
				
			}
		}
		span.pa_input_value.desktop {
			display: none;
		}
		span.pa_input_value.mobile {
			display: block;
		}
	}
	.step_two {
		width:100%;
		z-index:2;
		top: 76px;
		height: 82px;
	}
	.pa_submit {
		flex-basis:auto;
		margin-top:10px;
		background:transparent;
		border: 1px solid #9fb8d1;
		position: relative;
		z-index:1;
		height:83px;
		&:before, &:after {
			content:"";
			display: block;
			width:calc(100% - 20px);
			height:calc(100% - 20px);
			position: absolute;
			top:10px;
			left:10px;
		}
		&:before {
			background:$red;
			z-index:-1;
		}
		&:hover {
			background: transparent;
		}
	}
	.pa_submit.hover {
		background: transparent;
	}
}

.pa_dropdown {
	z-index:2;
	top:65px;
}


.pa_sps_wrapper {
   margin-top: 69px;
   padding:0 20px;
   .slick-dots {
   	bottom: -50px;
   	width:calc(100% - 32px);
   	li.slick-active {
   		button {
   			&:before {
   				color:#fff;
   			}
   		}
   	}
   	li:hover {
   		button {
   			&:before {
   				color:#fff;
   			}
   		}
   	}
   	li {
   		margin:0;
   		width:19px;
   		button {
   			width:19px;
   			&:before {
   				width:19px;
   				opacity: 1;
   				color: #526787;
   				font-size:24px;
   			}
   		}
   	}
   }
}


.mobile_position_play {
	position: absolute;
	bottom:-198px;
	left:0;
	width:100%;
}


.sec_one_play_wrapper {
	max-width:350px;
	top: 4px;
	img.play_button_dots {
		width: 277px;
    height: 277px;
    margin: 155px 106px 0 0;
	}
	.vid_img_wrapper {
		width: 234px;
    height: 234px;
		img {
			width:234px;
			height:234px;
		}
	}
	img.play_verbiage {
		width:235px;
		height:auto;
		top: 69px;
    left: 62px;
	}
}

.pa_close {
	width:45px;
	height:45px;
	&:before, &:after {
		top: 21px;
	}
}

	.pa_overlay_inner {
		padding: 93px 0 96px;
		ul {
				display: block;
				li {
					margin-bottom:11px;
				}
			}
			.gform_wrapper {
				margin: 42px auto 0;
				padding:0 32px 55px;
				max-width:600px;
			}
			span.large_header {
				font-size: 45px;
				line-height: 52px;
				padding:0 20px;
			}
			span.small_header {
				//color:#a0acb8;
				margin-top: 16px;
			}
		}
	
	
} /* Media Query */


@media screen and (max-width: 405px) {
	
	
	
.sec_one_play_wrapper {
	max-width:320px;
	img.play_button_dots {
		width: 247px;
		height:247px;
	}
	.vid_img_wrapper {
		width: 192px;
		height:192px;
		top: 83px;
		img {
			width: 192px;
			height:192px;
		}
	}
	img.play_verbiage {
		width:210px;
		top: 69px;
    left: 52px;
	}
}
	
	
	
	
	.section_one_inner {
		span.sec_one_large_header {
			font-size: 65px;
		}
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 375px) {
	
	.section_one_inner {
		span.sec_one_large_header {
			font-size: 60px;
			line-height: 58px;
		}
	}
	
	
} /* Media Query */

