

#section_two {
	width:100%;
	position: relative;
	padding-bottom:218px;
	.circles {
		width:473px;
		height:454px;
		position: absolute;
		top:0;
		right:0;
	}
}


.sec_two_top {
	padding: 184px 0 0 97px;
	max-width: 1824px;
	margin:0 auto;
	position: relative;
	z-index:1;
	h1 {
		span {
			display: block;
		}
		span.large_header {
			font-size:170px;
			text-transform: uppercase;
			color:$blue;
			@include montserrat_bold;
		}
		span.sub_header {
			text-transform: uppercase;
			font-size: 24px;
			letter-spacing: 0.26em;
			margin-top:19px;
			margin-left:10px;
			@include industry_black;
			&:after {
				content:"";
				display: inline-block;
				width:77px;
				height:10px;
				vertical-align: top;
				margin-top:5px;
				margin-left:7px;
				background-size:80px 11px;
				background: url(#{$themePath}images/graphic-squiggle.svg) no-repeat;
			}
		}
	}
	span.sec_two_top_description {
		font-size: 35px;
		line-height: 55px;
		margin-top:60px;
		margin-left:20px;
		color:#738095;
		display: block;
		max-width:1000px;
		@include montserrat_extralight;
	}
}

.sec_two_bottom {
	display: flex;
	margin-top:95px;
}


.sec_two_left {
	//flex-basis:100%;
	img.pic {
		display: block;
		box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.3);
		position: relative;
		z-index:1;
	}
}

.sec_two_right {
	padding-left:6.5%;
	padding-right:9%;
}


.sec_two_cta {
	max-width:720px;
	position: relative;
	margin:95px 0 0 97px;
	img.sec_two_cta_img {
		position: absolute;
		top: -63px;
    left: -37px;
	}
	span.sec_two_cta_description {
		display: block;
		font-size: 34px;
		line-height: 48px;
		position: relative;
		z-index:1;
		padding:64px 0 0 100px;
		@include industry_book;
	}
}






a.sec_two_consult_button {
	margin:29px 0 0 100px;
}

@media screen and (max-width: 1715px) {
	
	
	#section_two {
		overflow: hidden;
	}
	
	.sec_two_left {
		flex-basis:50%;
		flex-shrink:0;
		margin-left:-20px;
		img.pic {
			max-width:100%;
			height:auto;
		}
	}
	
	.sec_two_right {
		flex-grow:1;
		
	}
	
	
	
} /* Media Query */

@media screen and (max-width: 1450px) {
	
	#section_two {
		padding-bottom:120px;
		.circles {
			right: -82px;
		}
	}
	
	.sec_two_top {
		span.sec_two_top_description {
	    margin-top: 33px;
	    margin-left:130px;
			max-width: 956px;
	  }
	}
	
	
	.sec_two_bottom {
		margin-top: 118px;
	}
	
	
	.sec_two_left {
		flex-basis: 650px;
		flex-shrink:0;
	}
	
	.sec_two_right {
		padding-left: 5%;
	}
	
	.sec_two_cta {
		margin: 95px 0 0 59px;
		//max-width: 535px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1145px) {
	
	
	
	img.circles {
		display: none;
	}
	
	.sec_two_top {
		padding: 230px 97px 0;
		h1 {
			span.large_header {
				font-size: 92px;
			}
			span.sub_header {
				margin-left: 0px;
			}
		}
		span.sec_two_top_description {
			margin-left: 0px;
			font-size: 30px;
			line-height: 45px;
		}
	}
	
	.sec_two_left {
    flex-basis: 579px;
   }
	
	
} /* Media Query */


@media screen and (max-width: 1110px) {
	
	
	.sec_two_bottom {
		flex-direction: column;
		margin-top: 92px;
	}
	
	.sec_two_left {
		order:2;
		flex-basis:100%;
		padding:45px 97px 0;
		margin-left:0;
	}
	
	.sec_two_right {
		flex-basis:100%;
		order:1;
		padding:0 97px;
	}
	
	
} /* Media Query */



@media screen and (max-width: 1066px) {
	
	
	
	.sec_two_top {
		padding: 230px 54px 0;
		span.sec_two_top_description {
			margin-top:41px;
		}
	}
	
	
	.sec_two_left {
		padding:45px 54px 0;
	}
	
	.sec_two_right {
		padding: 0 54px;
	}
	
	.sec_two_cta {
		margin: 67px 0 0 -20px;
		span.sec_two_cta_description {
			font-size: 33px;
			line-height: 48px;
			max-width: 676px;
		}
	}
	
	
	#section_two {
    padding-bottom: 127px;
	}
	
	
	.sec_two_bottom {
		margin-top: 96px;
	}
	
	
	.sec_two_cta {
		span.sec_two_cta_description {
			padding: 70px 0 0 100px;
		}
	}
	
	a.sec_two_consult_button {
    margin: 24px 0 0 100px;
	}
	
	    
	
} /* Media Query */

@media screen and (max-width: 767px) {
	
	#section_two {
		padding-bottom:98px;
	}
	
	
	.sec_two_top {
		padding: 177px 32px 0;
		h1 {
			span.large_header {
				font-size: 50px;
			}
			span.sub_header {
				font-size: 17px;
				letter-spacing: 0.2em;
				margin-top: 12px;
				&:after {
					display: block;
					margin-top:30px;
				}
			}
		}
		span.sec_two_top_description {
			font-size: 25px;
			line-height: 38px;
			margin-top: 25px;
		}
	}
	
	
	.sec_two_bottom {
		margin-top: 53px;
	}
	
	
.sec_two_left {
	padding: 45px 32px 0;
	img.pic {
		display: none;
	}
}


.sec_two_cta {
	margin:0;
	img.sec_two_cta_img {
		display: none;
	}
	span.sec_two_cta_description {
		font-size: 32px;
		line-height: 41px;
		padding:0;
	}
}

.sec_two_right {
    padding: 0 32px;
}




a.sec_two_consult_button {
	margin: 29px auto 0;
}

	
	
} /* Media Query */


@media screen and (max-width: 375px) {
	
	
	a.button {
		padding:0 20px;
		text-align: center;
		line-height: 16px;
	}
	
		
} /* Media Query */