#section_four {
	overflow: hidden;
	position: relative;
	padding:0 97px 160px;
	img.circles.desktop {
		position: absolute;
		top: -36px;
    left: -20px;
		width:430px;
		height:413px;
		transform: rotate(-90deg);
	}
	img.circles.tablet {
		display:none; 
	}
}



.sec_four_top {
	text-align: center;
	position: relative;
	z-index:1;
	padding:225px 0 0 0;
	h2 {
		span {
			display: block;
		}
		span.large_header {
			color:$blue;
			font-size: 170px;
			text-transform: uppercase;
			@include montserrat_bold;
		}
		span.sub_header {
			text-transform: uppercase;
			font-size: 26px;
			letter-spacing: 0.26em;
			margin:14px 0 0;
			@include industry_black;
			&:after {
				content:"";
				display: block;
				width:80px;
				height:11px;
				margin:50px auto 0;
				background-size:80px 11px;
				background: url(#{$themePath}images/graphic-squiggle.svg);
			}
		}
	}
}



span.sec_four_description {
	display: block;
	font-size:35px;
	line-height: 55px;
	color:$bluedark;
	max-width:1000px;
	margin:34px auto 0;
	@include montserrat_extralight;
}

a.sec_four_button {
	margin:32px auto 0;
}


.sec_four_bottom {
	display: flex;
	justify-content: space-between;
	max-width:1605px;
	margin:115px auto 0;
}

.sec_four_col {
	flex-basis: 44.5%;
	h3.hack {
		padding-top:5px;
	}
}


@media screen and (max-width: 1450px) {
	
	
	
	#section_four {
		padding-bottom:140px;
		img.circles.desktop {
			display: none;
		}
		img.circles.tablet {
			display: block;
			width:755px;
			margin:0 auto;
		}
	}
	
	.sec_four_top {
		padding-top:0;
		margin:-92px 0 0 0;
		h2 {
			span.large_header {
				font-size: 165px;
			}
			span.sub_header {
				font-size: 24px;
				margin: 18px 0 0;
				&:after {
					margin: 54px auto 0;
				}
			}
		}
	}
	
	.sec_four_bottom {
		display: block;
		max-width:920px;
		margin:97px auto 0;
	}
	
.sec_four_col {
	h3.hack {
		padding-top:34px;
	}
}

	
	
	
} /* Media Query */
