@media screen and (min-width: 1399px) {
	
	// header
	
	.header_left {
		a {
			img.logo {
				transform: translateX(-35px);
				opacity: 0;
				transition: transform 1200ms cubic-bezier(.17,.66,.34,.98), opacity 400ms cubic-bezier(.17,.66,.34,.98);
			}
		}
	}
	
	
	body.ready {
		.header_left {
			a {
				img.logo {
					transform: translateX(0px);
					opacity: 1;
				}
			}
		}
	}
	
	.consult_phone {
		span.free_consult, a.phone {
			transform: translateX(35px);
			opacity: 0;
			transition: transform 1200ms cubic-bezier(.17,.66,.34,.98), opacity 400ms cubic-bezier(.17,.66,.34,.98);
		}
	}
	
	body.ready {
		.consult_phone {
			span.free_consult, a.phone {
				transform: translateX(0px);
				opacity: 1;
			}
			a.phone {
				//transition-delay: 50ms;
			}
		}
	}
	
	
	.menu_wrapper {
		.menu_bars {
			span.menu_bar {
				transform: scale(0,1);
				transform-origin: top right;
				opacity: 0;
				transition: transform 850ms cubic-bezier(.17,.66,.34,.98), opacity 400ms cubic-bezier(.17,.66,.34,.98);
			}
			span.menu_title {
				transform: translateY(-5px);
				opacity: 0;
				transition: transform 1200ms cubic-bezier(.17,.66,.34,.98), opacity 400ms cubic-bezier(.17,.66,.34,.98);
			}
		}
	}
	
	
	body.ready {
		.menu_wrapper {
			.menu_bars {
				span.menu_bar {
					transform: scale(1,1);
					opacity: 1;
					&:nth-of-type(1) {
						
					}
					&:nth-of-type(2) {
						transition-delay: 100ms;
					}
					&:nth-of-type(3) {
						transition-delay: 200ms;
					}
				}
				span.menu_title {
					transform: translateY(0px);
					opacity: 1;
				}
			}
		}
	}
	
	
	// section one
	
	
	.section_one_inner {
		span.sec_one_subheader {
			transform: translateY(-35px);
			opacity: 0;
			transition: transform 1500ms cubic-bezier(.17,.66,.34,.98), opacity 500ms linear;
		}
		span.sec_one_large_header {
			transform: translateY(-35px);
			opacity: 0;
			transition: transform 1500ms cubic-bezier(.17,.66,.34,.98), opacity 500ms linear;
		}
	}
	
	body.ready {
		.section_one_inner {
			span.sec_one_subheader, span.sec_one_large_header {
				transform: translateY(0px);
				opacity: 1;
			}
			span.sec_one_large_header {
				//transition-delay: 200ms;
			}
		}
	}
	
	ul.sec_one_sp_list {
		transform: translateY(-35px);
		opacity: 0;
		transition: transform 1500ms cubic-bezier(.17,.66,.34,.98), opacity 500ms linear;
		li {
			
		}
	}
	
	
	body.ready {
		ul.sec_one_sp_list {
			transform: translateY(0px);
			opacity: 1;
			//transition-delay: 400ms;
			li {
			
			}
		}
	}
	
	.pa_input_wrapper {
		transform: translateY(-35px);
		opacity: 0;
		transition: transform 1500ms cubic-bezier(.17,.66,.34,.98), opacity 500ms linear;
	}
	
	body.ready {
		.pa_input_wrapper {
			transform: translateY(0px);
			opacity: 1;
			//transition-delay: 600ms;
		}
	}
	
	

	.pa_sps_wrapper {
		transform: translateY(15px);
		opacity: 0;
		transition: transform 1500ms cubic-bezier(.17,.66,.34,.98), opacity 500ms linear;
	}

	
	body.ready {
		.pa_sps_wrapper {
			transform: translateY(0px);
			opacity: 1;
			//transition-delay: 900ms;
		}
	}
	
	
/*
	.pa_sps {
		a.learn_more {
			svg {
				transform: translateX(1000px);
				opacity: 0;
				transition: transform 500ms cubic-bezier(.17,.66,.34,.98), opacity 500ms linear;
			}
		}
	}
	
	

	body.ready {
		.pa_sps {
			a.learn_more {
				svg {
					transform: translateX(50px);
					opacity: 1;
					transition-delay: 900ms;
				}
			}
		}
	}
*/


.sec_one_play_wrapper {
	
	img.play_button_dots {
		transform: rotate(40deg);
		transform-origin: 120px 222px 0;
		transition: all 1300ms cubic-bezier(.17,.66,.34,.98);
	}
	.vid_img_wrapper {
		img {
			transform: scale(1.7);
			transition: all 1300ms cubic-bezier(.17,.66,.34,.98);
		}
	}
}



body.ready {
	.sec_one_play_wrapper {
		&:hover {
		.vid_img_wrapper {
			img {
				transform: scale(1.1);
				transition: all 1300ms cubic-bezier(.17,.66,.34,.98);
			}
		}
	}
		img.play_button_dots {
			transform: rotate(0deg);
		}
		.vid_img_wrapper {
			img {
				transform: scale(1);
			}
		}
	}
}




	
} /* Media Query */