@media screen and (min-width: 1399px) {
	
	// header
	
	.header_left {
		a {
			img.logo {
				transform: translateX(-35px);
				opacity: 0;
				transition: transform 1300ms cubic-bezier(.17,.66,.34,.98), opacity 400ms cubic-bezier(.17,.66,.34,.98);
			}
		}
	}
	
	
	body.ready {
		.header_left {
			a {
				img.logo {
					transform: translateX(0px);
					opacity: 1;
				}
			}
		}
	}
	
	.consult_phone {
		span.free_consult, a.phone {
			transform: translateX(35px);
			opacity: 0;
			transition: transform 1300ms cubic-bezier(.17,.66,.34,.98), opacity 400ms cubic-bezier(.17,.66,.34,.98);
		}
	}
	
	body.ready {
		.consult_phone {
			span.free_consult, a.phone {
				transform: translateX(0px);
				opacity: 1;
			}
			a.phone {
				//transition-delay: 50ms;
			}
		}
	}
	
	
	.menu_wrapper {
		.menu_bars {
			span.menu_bar {
				transform: scale(0,1);
				transform-origin: top right;
				opacity: 0;
				transition: transform 850ms cubic-bezier(.17,.66,.34,.98), opacity 400ms cubic-bezier(.17,.66,.34,.98);
			}
			span.menu_title {
				transform: translateY(-5px);
				opacity: 0;
				transition: transform 1300ms cubic-bezier(.17,.66,.34,.98), opacity 400ms cubic-bezier(.17,.66,.34,.98);
			}
		}
	}
	
	
	body.ready {
		.menu_wrapper {
			.menu_bars {
				span.menu_bar {
					transform: scale(1,1);
					opacity: 1;
					&:nth-of-type(1) {
						
					}
					&:nth-of-type(2) {
						transition-delay: 100ms;
					}
					&:nth-of-type(3) {
						transition-delay: 200ms;
					}
				}
				span.menu_title {
					transform: translateY(0px);
					opacity: 1;
				}
			}
		}
	}
	
	
	// section one
	
	
	.section_one_inner {
		span.sec_one_subheader {
			transform: translateY(-35px);
			opacity: 0;
			transition: transform 1500ms cubic-bezier(.17,.66,.34,.98), opacity 500ms linear;
		}
		span.sec_one_large_header {
			transform: translateY(-35px);
			opacity: 0;
			transition: transform 1500ms cubic-bezier(.17,.66,.34,.98), opacity 500ms linear;
		}
	}
	
	body.ready {
		.section_one_inner {
			span.sec_one_subheader, span.sec_one_large_header {
				transform: translateY(0px);
				opacity: 1;
			}
			span.sec_one_large_header {
				transition-delay: 100ms;
			}
		}
	}
	
	ul.sec_one_sp_list {
		transform: translateY(-35px);
		opacity: 0;
		transition: transform 1500ms cubic-bezier(.17,.66,.34,.98), opacity 500ms linear;
		li {
			
		}
	}
	
	
	body.ready {
		ul.sec_one_sp_list {
			transform: translateY(0px);
			opacity: 1;
			transition-delay: 200ms;
			li {
			
			}
		}
	}
	
	.pa_input_wrapper {
		transform: translateY(-35px);
		opacity: 0;
		transition: transform 1500ms cubic-bezier(.17,.66,.34,.98), opacity 500ms linear;
	}
	
	body.ready {
		.pa_input_wrapper {
			transform: translateY(0px);
			opacity: 1;
			transition-delay: 300ms;
		}
	}
	
	

	.pa_sps_wrapper {
		transform: translateY(35px);
		opacity: 0;
		transition: transform 1500ms cubic-bezier(.17,.66,.34,.98), opacity 500ms linear;
	}

	
	body.ready {
		.pa_sps_wrapper {
			transform: translateY(0px);
			opacity: 1;
			transition-delay: 400ms;
		}
	}
	
	

	.pa_sps {
		a.learn_more {
			svg {
				transform: translateX(1000px);
				opacity: 0;
				transition: transform 1500ms cubic-bezier(.17,.66,.34,.98), opacity 500ms linear;
			}
		}
	}
	
	

	body.ready {
		.pa_sps {
			a.learn_more {
				svg {
					transform: translateX(0px);
					opacity: 1;
					transition-delay: 900ms, 900ms;
				}
			}
		}
	}



.sec_one_play_wrapper {
	
	img.play_button_dots {
		transform: rotate(20deg);
		transform-origin: 120px 222px 0;
		transition: all 1300ms cubic-bezier(.17,.66,.34,.98);
	}
	.vid_img_wrapper {
		img {
			transform: scale(1.7);
			transition: all 1300ms cubic-bezier(.17,.66,.34,.98);
		}
	}
}



body.ready {
	.sec_one_play_wrapper {
		&:hover {
		.vid_img_wrapper {
			img {
				transform: scale(1.1);
				transition: all 1300ms cubic-bezier(.17,.66,.34,.98);
			}
		}
	}
		img.play_button_dots {
			transform: rotate(0deg);
		}
		.vid_img_wrapper {
			img {
				transform: scale(1);
			}
		}
	}
}


.parallax {
	img {
		
	}
}


// section two


/*
#section_two {
	overflow-y: hidden;
	.circles {
		transform: translateY(-45px);
		opacity: 1;
		transition:transform 1500ms cubic-bezier(.17,.66,.34,.98),opacity 500ms linear;
	}
}
*/

#section_two.trigger {
	.circles {
		transform: translateY(0px);
		opacity: 1;
	}
}


.sec_two_top {
	h1 {
		span.sub_header {
			&:after {
				transform: translateX(45px);
				opacity: 0;
				transition: transform 1500ms cubic-bezier(.17,.66,.34,.98), opacity 500ms linear;
			}
		}
	}
}


#section_two.trigger {
	.sec_two_top {
		h1 {
			span.sub_header {
				&:after {
					transform: translateX(0px);
					opacity: 1;
				}
			}
		}
	}
}


.sec_two_left {
	.sec_two_pic_wrapper {
/*
		transform: translateY(100px);
		transition: transform 1500ms cubic-bezier(.17,.66,.34,.98), opacity 500ms linear;
*/
		overflow: hidden;
		z-index:2;
		position: relative;
		box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.3);
		img.pic {
			transform: scale(1.2);
			transition: all 1500ms cubic-bezier(.17,.66,.34,.98);
		}
	}
}


.sec_two_left.trigger {
	.sec_two_pic_wrapper {
		//transform: translateY(0px);
		img.pic {
			z-index:2;
			transform: scale(1);
		}
	}
}


// section three 


.sec_three_slide {
	.sec_three_slide_inner {
		transform: translateY(-35px);
		opacity: 0;
		transition: transform 1500ms cubic-bezier(.17,.66,.34,.98), opacity 500ms linear;
	}
}


#section_three.trigger {
	.sec_three_slide {
		.sec_three_slide_inner {
			transform: translateY(0px);
			opacity: 1;
		}
	}
	.sec_three_slide.one {
		
	}
	.sec_three_slide.two {
		.sec_three_slide_inner {
			transition-delay: 200ms;
		}
	}
	.sec_three_slide.three {
		.sec_three_slide_inner {
			transition-delay: 400ms;
		}
	}
}


.sec_three_arrow_wrapper {
	.sec_three_arrow {
		cursor: pointer;
		svg {
			transform: translateX(-20px);
			opacity: 0;
			transition:transform 1500ms cubic-bezier(.17,.66,.34,.98),opacity 500ms linear;
			polygon, rect {
				transform: translateX(0px);
				transition:transform 700ms cubic-bezier(.17,.66,.34,.98);
			}
			.arrow-st1 {
				stroke: #A6C8EA;
				transform: translateX(-10px);
				opacity: 0;
				transition:transform 1500ms cubic-bezier(.17,.66,.34,.98),opacity 500ms linear, stroke 300ms linear;
			}
		}
	}
}




#section_three.trigger {
	.sec_three_arrow {
		&:hover {
			svg {
				polygon, rect {
					transform: translateX(5px);
				}
				.arrow-st1 {
					stroke:$bluelight;
				}
			}
		}
		svg {
			opacity: 1;
			transform: translateX(0);
			transition-delay: 300ms;
			polygon, rect {

			}
			.arrow-st1 {
				opacity: 1;
				transform: translateX(0);
				transition-delay:550ms,550ms, 0ms;
			}
		}
	}
}


.sec_three_slider {
	.slick-dots {
		opacity: 0;
		transition: all 300ms ease-in-out;
		li {
			button {
				
			}
		}
	}
}

#section_three.trigger {
	.slick-dots {
		opacity: 1;
		transition-delay: 850ms;
	}
}


// section four 


.sec_four_top {
	h2 {
		span.sub_header {
			&:after {
				transform: translateY(-15px);
				opacity: 0;
				transition:transform 1500ms cubic-bezier(.17,.66,.34,.98),opacity 500ms linear;
			}
		}
	}
}


#section_four.trigger {
	.sec_four_top {
		h2 {
			span.sub_header {
				&:after {
					transform: translateY(0px);
					opacity: 1;
				}
			}
		}
	}
}


// footer



footer {
	overflow-y: hidden;
	img.bridge {
		transform: scale(1.15);
		transition:transform 1500ms cubic-bezier(.17,.66,.34,.98);
	}
}


footer.trigger {
	img.bridge {
		transform: scale(1);
	}
}


.footer_single_info {
	a.get_directions {
		width:230px;
	}
	a.make_appointment {
		width:260px;
	}
	a.footer_link {
		span {
			color:#fff;
			transition: all 200ms ease-in-out;
		}
		&:hover {
			span {
				color:$bluelight;
			}
			svg {
				polygon, rect {
					transform: translateX(5px);
				}
				.arrow-st1 {
					stroke:$bluelight;
				}
			}
		}
		svg {
			polygon, rect {
				transform: translateX(0px);
				transition:transform 700ms cubic-bezier(.17,.66,.34,.98);
			}
			.arrow-st1 {
				stroke: #A6C8EA;
				transition:stroke 300ms linear;
			}
		}
	}
}


.footer_single_info {
	span.footer_info_title {
		&:after {
			transform: translateX(30px);
			opacity: 0;
			transition:transform 1500ms cubic-bezier(.17,.66,.34,.98),opacity 500ms linear;
		}
	}
}


footer.trigger {
	.footer_single_info {
		span.footer_info_title {
			&:after {
				transform: translateX(0px);
				opacity: 1;
				transition-delay: 300ms;
			}
		}
	}
}


// about our firm


span.about_firm_subtitle {
	&:after {
		transform: translateX(30px);
		opacity: 0;
		transition:transform 1500ms cubic-bezier(.17,.66,.34,.98),opacity 500ms linear;
	}
}


body.ready {
	span.about_firm_subtitle {
		&:after {
			transform: translateX(0px);
			opacity: 1;
		}
	}
}



.about_top_video {
	overflow: hidden;
	img.about_video_thumb {
		transform: scale(1.2);
		transition: all 1500ms cubic-bezier(.17,.66,.34,.98);
	}
}


.about_top_content.trigger {
	.about_top_video {
		img.about_video_thumb {
			transform: scale(1);
		}
	}
}


// attorney


span.att_postion {
	&:after {
		transform: translateX(30px);
		opacity: 0;
		transition:transform 1500ms cubic-bezier(.17,.66,.34,.98),opacity 500ms linear;
	}
}


body.ready {
	span.att_postion {
		&:after {
			transform: translateX(0px);
			opacity: 1;
		}
	}
}


.sidebar_bio_image.desktop {
	overflow: hidden;
	img.bio_image {
		transform: scale(1.2);
		transition: all 1500ms cubic-bezier(.17,.66,.34,.98);
	}
}


body.ready {
	.sidebar_bio_image.desktop {
		img.bio_image {
			transform: scale(1);
		}
	}
}



// attorney directory


.single_att {
	.att_img_wrapper {
		overflow: hidden;
		img.att_img {
			transform: scale(1.15);
			transition: all 1500ms cubic-bezier(.17,.66,.34,.98);
		}
	}
}


body.ready {
	.single_att {
		&:hover {
			.att_img_wrapper {
			img.att_img {
				transform: scale(1.07);
			}
		}
		}
		.att_img_wrapper {
			img.att_img {
				transform: scale(1);
			}
		}
	}
	
}


// default sidebar

.sidebar_box {
	h3 {
		&:after {
			transform: translateX(30px);
			opacity: 0;
			transition:transform 1500ms cubic-bezier(.17,.66,.34,.98),opacity 500ms linear;
		}
	}
}


body.ready {
	.sidebar_box {
		h3 {
			&:after {
				transform: translateX(0px);
				opacity: 1;
			}
		}
	}
}


// default banner




.internal_banner {
	overflow: hidden;
	img {
		transform: scale(1.1);
		transition: all 1500ms cubic-bezier(.17,.66,.34,.98);
	}
}


body.ready {
	.internal_banner {
		img {
			transform: scale(1);
		}
	}
}



.content {
	h1 {
		&:after {
			transform: translateX(30px);
			opacity: 0;
			transition:transform 1500ms cubic-bezier(.17,.66,.34,.98),opacity 500ms linear;
		}
	}
}


body.ready {
	.content {
		h1 {
			&:after {
				transform: translateX(0px);
				opacity: 1;
			}
		}
	}
}


// pa directory


.pa_directory {
	ul.menu {
		> li {
			> a {
				&:after {
					transform: translateX(30px);
					opacity: 0;
					transition:transform 1500ms cubic-bezier(.17,.66,.34,.98),opacity 500ms linear;
				}
			}
		}
	}
}



body.ready {
	.pa_directory {
		ul.menu {
			> li {
				> a {
					&:after {
						transform: translateX(0px);
						opacity: 1;
					}
				}
			}
		}
	}
}



// testimonials


.single_testi_inner {
	transform: translateY(-20px);
	transition:transform 1500ms cubic-bezier(.17,.66,.34,.98);
}


body.ready {
	.single_testi {
		&:nth-of-type(1) {
			.single_testi_inner {
				
			}
		}
		&:nth-of-type(2) {
			.single_testi_inner {
				transition-delay: 100ms;
			}
		}
		&:nth-of-type(3) {
			.single_testi_inner {
				transition-delay: 200ms;
			}
		}
	}
	.single_testi_inner {
		transform: translateY(0);
	}
}


// video


.single_video {
	a {
		.single_video_img_wrapper {
			overflow: hidden;
		}
		img.vimeo_thumb {
			transform: scale(1.1);
			transition: all 1500ms cubic-bezier(.17,.66,.34,.98);
		}
		.video_content {
			span.video_title {
				&:after {
					transform: translateX(30px);
					opacity: 0;
					transition:transform 1500ms cubic-bezier(.17,.66,.34,.98),opacity 500ms linear;
				}
			}
		}
	}
}


body.ready {
	.single_video {
		&:hover {
			a {
				img.vimeo_thumb {
					transform: scale(1.1);
				}
			}
		}
		a {
			img.vimeo_thumb {
				transform: scale(1);
			}
			.video_content {
				span.video_title {
					&:after {
						transform: translateX(0px);
						opacity: 1;
					}
				}
			}
		}
	}

}


// blog


.blog_content {
	&:before {
		transform: translateX(30px);
		opacity: 0;
		transition:transform 1500ms cubic-bezier(.17,.66,.34,.98),opacity 500ms linear;
	}
}


body.ready {
	.blog_content {
		&:before {
			transform: translateX(0px);
			opacity: 1;
		}
	}
}


// not found



.not_found_wrapper {
	&:before {
		transform: translateX(30px);
		opacity: 0;
		transition:transform 1500ms cubic-bezier(.17,.66,.34,.98),opacity 500ms linear;
	}
}


body.ready {
	.not_found_wrapper {
		&:before {
			transform: translateX(0px);
			opacity: 1;
		}
	}
}


	
} /* Media Query */