

footer {
	width:100%;
	position:relative;
	background:#001d41;
	padding:0 97px 125px;
	img.bridge {
		position: absolute;
		top:0;
		left:0;
		z-index:1;
		width:100%;
		height:100%;
		max-height:1353px;
		object-fit:cover;
	}
	.form_wrapper {
		position: relative;
		z-index:2;
		text-align: center;
		padding:155px 0;
		
		span.large_header {
			color:#fff;
			display: block;
			text-transform: uppercase;
			font-size: 93px;
			@include montserrat_bold;
		}
		span.small_header {
			display: block;
			font-size: 15px;
			margin-top:22px;
			color:#002957;
			letter-spacing: 0.28em;
			text-transform: uppercase;
			@include industry_black;
			&:after {
				content:"*";
				color:$bluelight;
				font-size: 18px;
				display: inline-block;
				vertical-align: top;
				margin-left:10px;
			}
		}
		.gform_wrapper {
			max-width:1000px;
			margin:87px auto 0;
		}
		ul {
			list-style: none;
			display: flex;
			flex-wrap:wrap;
			justify-content: space-between;
			li {
				flex-basis:49%;
				margin-bottom:18px;
				position: relative;
				&:after {
					content:"*";
					position: absolute;
					top: 27px;
					right:23px;
					z-index:1;
					font-size: 22px;
					color:$bluelight;
					@include industry_black;
				}
				label {
					display: none;
				}
				input, textarea {
					border:none;
					width:100%;
					font-size: 16px;
					letter-spacing: 0.03em;
					padding:21px 45px 22px 23px;
					@include montserrat_light;
				}
				textarea {
					height:201px;
				}
			}
			li.textarea_wrap {
				flex-basis:100%;
			}
		}
	}
	.gfield_description, .validation_message {
		text-align: left;
		text-transform: uppercase;
		color:$bluedark;
		display: block;
		position: relative;
		top:7px;
		left:3px;
		@include industry_bold;
	}
	.gform_footer {
		width:353px;
		margin:0 auto;
		border:1px solid #819ca8;
		height:97px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		cursor: pointer;
		&:before {
			content:"";
			display: block;
			position: absolute;
			top:15px;
			left:12px;
			width:calc(100% - 24px);
			height:calc(100% - 30px);
			background: $red;
			transition: all 300ms linear;
			z-index:-2;
		}
		&:hover {
			&:before {
				background: $bluelight;
			}
		}
		input[type="submit"] {
			background: transparent;
			border:none;
			color:#fff;
			font-size: 17px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			position: absolute;
			width:100%;
			height:100%;
			top:0;
			left:0;
			@include industry_bold;
		}
	}
	
}



.footer_info {
	position: relative;
	z-index:2;
	max-width: 1605px;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
}


.footer_single_info {
	span {
		display: block;
		color:#fff;
	}
	span.footer_info_title {
		text-transform: uppercase;
		font-size: 22px;
		letter-spacing: 0.14em;
		@include industry_black;
		&:after {
			content:"";
			display: block;
			width:77px;
			height:10px;
			margin:17px 0 0;
			background-size:80px 11px;
			background: url(#{$themePath}images/graphic-squiggle.svg) no-repeat;
		}
	}
	a, .large_text {
		font-size: 29px;
		line-height: 41px;
		color:#fff;
		text-decoration: none;
		@include montserrat_light;
	}
	span.address {
		margin-top:25px;
	}
	a.footer_link {
		color:#fff;
		font-size: 15px;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 0.14em;
		display: flex;
		align-items: center;
		margin:41px 0 0;
		@include industry_black;
		svg {
			width:60px;
			margin-left:13px;
			position: relative;
			top:-2px;
		}
	}
	span.footer_info_subtitle {
		text-transform: uppercase;
		font-size: 15px;
		letter-spacing: 0.14em;
		color:$bluesky;
		margin-top:35px;
		@include industry_black;
	}
	span.view_calendar {
		max-width:454px;
		margin-top:25px;
	}
}

.footer_info_left {
	
}

.footer_info_right {
	display: flex;
	justify-content: space-between;
	&:last-of-type {
		.footer_single_info {
			margin-left:145px;
		}
	}
}


.copyright {
	height:79px;
	padding:0 42px;
}


.copyright_inner {
	max-width:1845px;
	margin:0 auto;
	display: flex;
	height:100%;
	align-items:center;
}

.social_media {
	display: flex;
	a {
		margin-right:20px;
		&:hover {
			svg {
				path {
					fill:$bluelight;
				}
			}
		}
		svg {
			path {
				fill:$bluedark;
				transition: all 200ms ease-in-out;
			}
		}
	}
	a.facebook {
		width:9px;
		height:19px;
	}
	a.google {
		width:17px;
		height:20px;
		position: relative;
		top:1px;
	}
	a.youtube {
		width:25px;
		height:15px;
		position: relative;
		top:1px;
	}
}

.all_rights_reserved {
	display: flex;
	justify-content: flex-start;
	flex-grow:1;
	margin-left:25px;
	ul {
		list-style: none;
		margin:0;
		li {
			display: inline;
			font-size: 11px;
			line-height: 20px;
			@include montserrat_light;
			a {
				color:$bluedark;
				text-decoration: none;
				transition: all 200ms ease-in-out;
				&:hover {
					color:$blue;
				}
			}
			&:after {
				content:"|";
				display: inline-block;
				margin:0 4px 0 7px;
			}
			&:last-of-type {
				&:after {
					display: none;
				}
			}
		}
	}
}


a.ilawyer {
	display: flex;
	justify-content: flex-end;
	svg {
		width:255px;
		height:18px;
	}
}


@media screen and (max-width: 1640px) {
	
	
.footer_info_right {
	flex-grow:1;
	margin-left: 8%;
	&:last-of-type {
		.footer_single_info {
			margin-left:0;
			flex-shrink: 0;
			&:last-of-type {
				flex-basis:440px;
				flex-shrink:0;
			}
		}
	}
}
	
	
	
} /* Media Query */



@media screen and (max-width: 1480px) {
	
	
	
.footer_info_left {
	flex-basis: 420px;
}
	
.footer_single_info {
	
	span {
		
	}
	span.footer_info_title {
		
		&:after {
			
		}
	}
	a, .large_text {
		font-size: 26px;
		line-height: 37px;
	}
	span.address {
		
	}
	a.footer_link {
		
		svg {
		
		}
	}
	span.footer_info_subtitle {
		
	}
	span.view_calendar {
		
	}
}


.footer_info_right {
	
	&:last-of-type {
		.footer_single_info {
			
			&:last-of-type {
				flex-basis:393px;
				
			}
		}
	}
}
	
	
} /* Media Query */


@media screen and (max-width: 1450px) {
	
	
	
	.copyright {
    padding: 0 32px;
	}
	
	footer {
		padding: 0px 97px 115px;
		.form_wrapper {
			padding: 155px 0 178px;
		}
	}
	
	.footer_single_info {
		span.footer_info_subtitle {
			margin-top: 28px;
			&:after {
				margin: 20px 0 0;
			}
		}
		span.address {
			margin-top: 20px;
		}
		a.footer_link {
			margin: 32px 0 0;
		}
	}
	
	
	
	
	   
	    
	
	
} /* Media Query */


@media screen and (max-width: 1395px) {
	
	
	.footer_info_right {
		margin-left:5%;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1325px) {
	
	
	.footer_info_right {
		margin-left:3%;
	}
	
} /* Media Query */


@media screen and (max-width: 1280px) {
	
	
	.footer_info {
		display: block;
		max-width:411px;
	}
	
	.footer_info_right {
		display: block;
		margin-left:0;
	}
	
	.footer_single_info {
		margin-bottom:95px;
		span.footer_info_title {
			font-size: 21px;
		}
		span.footer_info_subtitle {
			margin-top: 31px;
		}
		a.footer_link {
			margin: 27px 0 0;
		}
	}
	
	
	.footer_info_right {
		.footer_single_info {
			&:last-of-type {
				margin-bottom:0;
			}
		}
	}
	
	
	 
	
	
} /* Media Query */


@media screen and (max-width: 1220px) {
	
	
	footer {
		padding:0px 0 120px;
		.form_wrapper {
			padding: 119px 0;
			span.large_header {
				font-size: 62px;
			}
			.gform_wrapper {
				margin: 51px auto 0;
				padding:0 54px;
			}
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	footer {
		.form_wrapper {
			padding: 119px 0 151px;
		}
	}
	
	.footer_single_info {
		margin-bottom:99px;
		span.footer_info_title {
			&:after {
				margin: 18px 0 0;
			}
		}
		span.footer_info_subtitle {
			margin-top: 27px;
		}
		span.address {
			margin-top: 16px;
		}
		a.footer_link {
			margin: 33px 0 0;
		}
	}
	
	
	
	.copyright {
		height:auto;
		padding:0;
	}
	
	.copyright_inner {
		flex-wrap:wrap;
	}
	
	.social_media {
		padding-left:32px;
		a {
			margin-right: 26px;
		}
	}
	
	.all_rights_reserved {
		padding:28px 32px 28px 0;
		justify-content: flex-end;
	}
	
	a.ilawyer {
		flex-basis:100%;
		background: $bluedark;
		padding:20px 0;
		svg {
			margin:0 auto;
			.ilawyer-st0{
				fill:#fff
			}
		}
	}
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	    
	
	footer {
		padding: 0px 0 98px;
		img.bridge {
			display: none;
		}
		.form_wrapper {
			padding: 69px 0 96px;
			ul {
				display: block;
				li {
					margin-bottom: 11px;
				}
			}
			.gform_wrapper {
				margin: 42px auto 0;
				padding:0 32px;
				max-width:600px;
			}
			span.large_header {
				font-size: 45px;
				line-height: 52px;
				padding:0 20px;
			}
			span.small_header {
				color:#a0acb8;
				margin-top: 16px;
			}
		}
	}
	
	.footer_info {
		padding-left:32px;
		padding-right: 18px;
	}
	

	
	.footer_single_info {
		margin-bottom: 81px;
		a, .large_text {
			font-size: 23px;
			line-height: 34px;
		}
		span.footer_info_title {
			font-size: 20px;
		}
		span.address {
			margin-top: 25px;
		}
		a.footer_link {
			margin: 23px 0 0;
		}
	}
	
	
	
	.copyright_inner {
		display: block;
	}
	
	.social_media {
		padding:0;
		text-align: center;
		display: flex;
		justify-content: center;
		padding:40px 0 0;
		a {
			margin: 0 12px;
		}
	}
	
	.all_rights_reserved {
		display: block;
		padding: 15px 0;
		margin:0 auto 22px;
		text-align: center;
		max-width:355px;
		ul {
			li {
				&:first-of-type {
					&:after {
						display: none
					}
				}
			}
		}
	}
	
	
} /* Media Query */



@media screen and (max-width: 435px) {
	
	footer {
		.gform_footer {
			width:100%;
		}
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 410px) {
	
	
	.footer_single_info {
		.large_text {
			font-size: 20px;
		}
	}	
	
	
	.footer_info {
		padding:0 32px;
	}	
	
	
	.footer_single_info {
		span.footer_info_title {
			line-height: 25px;
		}
	}
	
	footer {
		.form_wrapper {
			span.large_header {
				font-size: 38px;
				line-height: 42px;
			}
		}
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 380px) {
	
	
	
	
	.footer_single_info {
		span.address {
			max-width: 260px;
			br {
				display: none;
			}
		}
	}
	
} /* Media Query */
