

footer {
	width:100%;
	position:relative;
	background:#001d41;
	padding:0 97px 150px;
	img.bridge {
		position: absolute;
		top:0;
		left:0;
		z-index:1;
		width:100%;
		height:100%;
		max-height:1353px;
		object-fit:cover;
	}
	.form_wrapper {
		position: relative;
		z-index:2;
		text-align: center;
		padding:155px 0;
		
		span.large_header {
			color:#fff;
			display: block;
			text-transform: uppercase;
			font-size: 93px;
			@include montserrat_bold;
		}
		span.small_header {
			display: block;
			font-size: 15px;
			margin-top:22px;
			color:#002957;
			letter-spacing: 0.28em;
			text-transform: uppercase;
			@include industry_black;
			&:after {
				content:"*";
				color:$bluelight;
				font-size: 18px;
				display: inline-block;
				vertical-align: top;
				margin-left:10px;
			}
		}
		.gform_wrapper {
			max-width:1000px;
			margin:87px auto 0;
		}
		ul {
			list-style: none;
			display: flex;
			flex-wrap:wrap;
			justify-content: space-between;
			li {
				flex-basis:49%;
				margin-bottom:18px;
				position: relative;
				&:after {
					content:"*";
					position: absolute;
					top: 27px;
					right:23px;
					z-index:1;
					font-size: 22px;
					color:$bluelight;
					@include industry_black;
				}
				label {
					display: none;
				}
				input, textarea {
					border:none;
					width:100%;
					font-size: 16px;
					letter-spacing: 0.03em;
					padding:21px 45px 22px 23px;
				}
				textarea {
					height:201px;
				}
			}
			li.textarea_wrap {
				flex-basis:100%;
			}
		}
	}
	.gform_footer {
		width:353px;
		margin:0 auto;
		border:1px solid #819ca8;
		height:97px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		cursor: pointer;
		&:before {
			content:"";
			display: block;
			position: absolute;
			top:15px;
			left:12px;
			width:calc(100% - 24px);
			height:calc(100% - 30px);
			background: $red;
			transition: all 300ms linear;
			z-index:-2;
		}
		&:hover {
			&:before {
				background: $bluelight;
			}
		}
		input[type="submit"] {
			background: transparent;
			border:none;
			color:#fff;
			font-size: 17px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			@include industry_bold;
		}
	}
}



.footer_info {
	position: relative;
	z-index:2;
	max-width: 1605px;
	margin:0 auto;
	span {
		display: block;
		color:#fff;
	}
	span.footer_info_title {
		text-transform: uppercase;
		font-size: 22px;
		letter-spacing: 0.14em;
		@include industry_black;
		&:after {
			content:"";
			display: block;
			width:77px;
			height:10px;
			margin:17px 0 0;
			background-size:80px 11px;
			background: url(#{$themePath}images/graphic-squiggle.svg) no-repeat;
		}
	}
	span.large_text {
		font-size: 29px;
		line-height: 41px;
		@include montserrat_light;
	}
	span.address {
		margin-top:25px;
	}
	a.footer_link {
		color:#fff;
		font-size: 15px;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 0.14em;
		display: flex;
		align-items: center;
		margin:35px 0 0;
		@include industry_black;
		svg {
			width:60px;
			margin-left:13px;
		}
	}
}
