

footer {
	width:100%;
	position:relative;
	img.bridge {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		object-fit:cover;
	}
	.form_wrapper {
		position: relative;
		z-index:1;
		text-align: center;
		padding:155px 0;
		span.large_header {
			color:#fff;
			display: block;
			text-transform: uppercase;
			font-size: 93px;
			@include montserrat_bold;
		}
		span.small_header {
			display: block;
			font-size: 15px;
			margin-top:22px;
			color:#002957;
			letter-spacing: 0.28em;
			text-transform: uppercase;
			@include industry_black;
			&:after {
				content:"*";
				color:$bluelight;
				font-size: 18px;
				display: inline-block;
				vertical-align: top;
				margin-left:10px;
			}
		}
		.gform_wrapper {
			max-width:1000px;
			margin:87px auto 0;
		}
		ul {
			list-style: none;
			display: flex;
			flex-wrap:wrap;
			justify-content: space-between;
			li {
				flex-basis:49%;
				margin-bottom:18px;
				position: relative;
				&:after {
					content:"*";
					position: absolute;
					top: 27px;
					right:23px;
					z-index:1;
					font-size: 22px;
					color:$bluelight;
					@include industry_black;
				}
				label {
					display: none;
				}
				input, textarea {
					border:none;
					width:100%;
					font-size: 16px;
					letter-spacing: 0.03em;
					padding:22px 45px 22px 23px;
				}
				textarea {
					height:201px;
				}
			}
			li.textarea_wrap {
				flex-basis:100%;
			}
		}
	}
}

