body {
	color:$bluedark;
}



section {
	position: relative;
	z-index:1;
	background:#fff;
}

.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
	max-width:100%;
	height:auto;
}



h1,h2,h3,h4 {
	font-style: normal;
	font-weight: 300;
}


.gform_wrapper ul li ::-webkit-input-placeholder {
  color: #000; }
.gform_wrapper ul li ::-moz-placeholder {
  color: #000; }
 .gform_wrapper ul li :-moz-placeholder {
   color: #000; }
 .gform_wrapper ul li :-ms-input-placeholder {
   color: #000; }
 .gform_wrapper ul li ::-moz-placeholder {
    opacity: 1; }
    
 
 .content {
	 font-size: 18px;
	 line-height: 32px;
	 @include montserrat_light;
	 h2 {
		 font-size: 32px;
		 line-height: 50px;
		 color:$bluedark;
		 padding-bottom:16px;
		 @include industry_bold;
	 }
	 h3 {
		 text-transform: uppercase;
		 font-size: 20px;
		 letter-spacing: 0.08em;
		 color:$bluelight;
		 padding-top:34px;
		 padding-bottom:10px;
		 line-height: 31px;
		 @include industry_bold;
	 }
	 h3.hack {
		 padding-top:5px;
	 }
	 p,ul {
		 margin-bottom:29px;
	 }
	 ul {
		 list-style: none;
		 li {
			 margin-bottom:5px;
			 &:before {
				 content:"+";
				 display: inline-block;
				 margin-right:10px;
				 color:$blue;
				 vertical-align: top;
				 margin-top:1px;
				 font-size: 22px;
				 @include montserrat_extrabold;
			 }
		 }
	 }
	 a {
		 color:$bluelight;
	 }
 }
 
 
 a.button {
	color:#fff;
	display: inline-block;
	text-decoration: none;
	border:1px solid $greydark;
	font-size: 17px;
	height:96px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	width:413px;
	position: relative;
	z-index:1;
	padding-top:3px;
	@include industry_bold;
	&:before {
		content:"";
		display: block;
		position: absolute;
		top:12px;
		left:16px;
		width:calc(100% - 32px);
		height:calc(100% - 24px);
		background: $red;
		transition: all 300ms linear;
		z-index:-2;
	}
	&:hover {
		&:before {
			background: $bluelight;
		}
	}
}


@media screen and (max-width: 767px) {
	
	
.alignleft,
.alignright,
.aligncenter,
img.alignleft,
img.alignright,
img.aligncenter {
	margin:4px auto 0px;
	float:none;
	max-width:100%;
	height:auto;
}
	
	
	.content {
		h2 {
			font-size: 29px;
			line-height: 42px;
		}
	}
	
	
a.button {
	height:82px;
	font-size: 14.5px;
	width:348px;
	margin:29px auto 0;
	&:before {
		top:9px;
		left:12px;
		width:calc(100% - 24px);
		height:calc(100% - 18px);
	}
}

	
} /* Media Query */


@media screen and (max-width: 414px) {
	
	
	a.button {
		width:100%;
	}

	
	
	
} /* Media Query */