html, body {
	overflow-x: hidden;
}

body {
	color:$bluedark;
	
}



section {
	position: relative;
	z-index:1;
	background:#fff;
}

.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
	max-width:100%;
	height:auto;
}



h1,h2,h3,h4 {
	font-style: normal;
	font-weight: 300;
}


.gform_wrapper ul li ::-webkit-input-placeholder {
  color: #002957; }
.gform_wrapper ul li ::-moz-placeholder {
  color: #002957; }
 .gform_wrapper ul li :-moz-placeholder {
   color: #002957; }
 .gform_wrapper ul li :-ms-input-placeholder {
   color: #002957; }
 .gform_wrapper ul li ::-moz-placeholder {
    opacity: 1; }
    
 
 body:not(.page-template-template-home) {
	 .content {
		 @include montserrat_reg;
	 }
 }
 
 
 
 #internal_main {
	margin-top:96px;
	padding-bottom:150px;
	position: relative;
}

.internal_wrapper {
	max-width:1774px;
	margin:0 auto;
	padding:105px 97px 0;
	// overflow-x: hidden;
	position: relative;
	z-index:1;
}

img.internal_circles {
	width:411px;
	height:395px;
	position: absolute;
	top:-20px;
	right: -54px;
 }

 h1.internal_header {
	font-size: 68px;
	line-height: 82px;
	text-transform: uppercase;
	color:$blue;
	@include montserrat_bold;
 }
 
 .content {
	 font-size: 18px;
	 line-height: 32px;
	 @include montserrat_light;
	 h1 {
		 font-size: 68px;
		 line-height: 82px;
		 text-transform: uppercase;
		 color:$blue;
		 @include montserrat_bold;
		 &:after {
			content:"";
			display: block;
			width:77px;
			height:10px;
			margin:27px 0 29px;
			background-size:80px 11px;
			background: url(#{$themePath}images/graphic-squiggle.svg) no-repeat;
		}
	 }
	 h2 {
		 font-size: 32px;
		 line-height: 44px;
		 color:$bluedark;
		 padding-bottom:20px;
		 @include industry_bold;
		 a {
			 color:$bluedark;
			 text-decoration: none;
			 transition: all 200ms ease-in-out;
			 &:hover {
				 color:$bluelight;
			 }
		 }
	 }
	 h3 {
		 text-transform: uppercase;
		 font-size: 20px;
		 letter-spacing: 0.08em;
		 color:$bluelight;
		 padding-top:10px;
		 padding-bottom:10px;
		 line-height: 31px;
		 @include industry_bold;
	 }
	 a {
		 color:$bluelight;
		 transition: all 200ms ease-in-out;
		 &:hover {
			 color:$red;
		 }
	 }
	 blockquote {
		 font-size: 34.75px;
		 line-height: 48px;
		 color:$bluelight;
		 position: relative;
		 z-index:1;
		 padding:84px 0 0 110px;
		 margin-top:35px;
		 margin-bottom:90px;
		 max-width: 930px;
		 @include industry_book;
		 &:after {
			 content:"";
			 display: block;
			 width:199px;
			 height:238px;
			 background: url(#{$themePath}/images/graphic-pullquote-dots-2.jpg);
			 position: absolute;
			 top:0;
			 left:0;
			 z-index:-1;
		 }
	 }
	 p,ul, ol {
		 margin-bottom:29px;
	 }
	 ul {
		 list-style: none;
		 li {
			 margin-bottom:5px;
			 padding-left:25px;
			 position: relative;
			 &:before {
				 content:"+";
				 position: absolute;
				 top:0;
				 left:0;
				 margin-right:10px;
				 color:$blue;
				 vertical-align: top;
				 margin-top:1px;
				 font-size: 22px;
				 @include montserrat_extrabold;
			 }
		 }
	 }
	 ol {
	 		list-style: none;
	 		counter-reset: item;
	 		> li {
	 				counter-increment: item;
	 				margin-bottom: 5px;
	 				position: relative;
	 				padding-left:25px;
	  		}
	  		> li:before {
	  				content: counter(item)".";
	  				display: block;
	  				color:$blue;
						position: absolute;
	  				top:0;
	  				left:0;
	  				@include montserrat_extrabold;
	  			}
	 			}
	 			a {
	 				color:$bluelight;
	 		}
 		}
 
 
 .button {
	color:#fff;
	display: inline-block;
	text-decoration: none;
	border:1px solid #ccd1d8;
	font-size: 17px;
	height:96px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	width:413px;
	position: relative;
	z-index:1;
	padding-top:3px;
	@include industry_bold;
	&:before {
		content:"";
		display: block;
		position: absolute;
		top:12px;
		left:16px;
		width:calc(100% - 32px);
		height:calc(100% - 24px);
		background: $red;
		transition: all 300ms linear;
		z-index:-2;
	}
	&:hover {
		&:before {
			background: $bluelight;
		}
	}
}



@media screen and (max-width: 1200px) {
	
	.internal_wrapper {
		padding: 68px 97px 0;
	}
	
	
	h1.internal_header {
		font-size: 58px;
	}
	
	.content {
		h1 {
			font-size: 58px;
			line-height: 64px;
		}
		blockquote {
			max-width: 860px;
		}
	}
	

	
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	#internal_main {
		margin-top: 149px;
		padding:60px 0 80px;
	}
	
	.internal_wrapper {
		padding:0 54px;
	}
	
	h1.internal_header {
		font-size: 51px;
		line-height: 57px;
	}
	
	
	.content {
		h1 {
			font-size: 51px;
			line-height: 57px;
		}
		blockquote {
			max-width: 840px;
			margin-left:-30px;
			font-size: 33px;
			line-height: 48px;
			margin-bottom: 65px;
			&:after {
				width: 181px;
				height: 222px;
			}
		}
	}
	
	
	img.internal_circles {
	  width: 212px;
	  height:203px;
	  top: -30px;
    right: -20px;
 	}
	
	 
	
	
} /* Media Query */


@media screen and (max-width: 945px) {
	
	
	.content {
		h1 {
			
		}
		blockquote {
			max-width: 820px;
			&:after {
				
			}
		}
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 900px) {
	
	
	.content {
		h1 {
			
		}
		blockquote {
			max-width: 720px;
			&:after {
				
			}
		}
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
.alignleft,
.alignright,
.aligncenter,
img.alignleft,
img.alignright,
img.aligncenter {
	margin:4px auto 0px;
	float:none;
	max-width:100%;
	height:auto;
}
	
	
	#internal_main {
    margin-top: 60px;
    padding: 40px 0 80px;
  }
  
  .internal_wrapper {
	  padding:0 32px;
  }
  
  
	
	h1.internal_header {
		font-size: 37px;
    line-height: 44px;
	}
	
	.content {
		h1 {
			font-size: 45px;
			line-height: 52px;
		}
		h2 {
			font-size: 29px;
			line-height: 42px;
		}
		blockquote {
			padding:0;
			margin: 0 0 0 0;
			&:after {
				display: none;
			}
		}
	}
	
	
.button {
	height:80px;
	font-size: 14.5px;
	width:348px;
	margin:0px auto;
	&:before {
		top:9px;
		left:12px;
		width:calc(100% - 24px);
		height:calc(100% - 18px);
	}
}


	img.internal_circles {
	  width: 162px;
	  height:155px;
	  top: -51px;
    right: -44px;
 	}

	
} /* Media Query */


@media screen and (max-width: 414px) {
	
	
	.button {
		width:100%;
	}

	
	
	
} /* Media Query */