

header {
	width:100%;
	height:96px;
	box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	background: #fff;
	z-index:5;
}

.header_left {
	padding-left:18px;
	flex-basis:240px;
	a {
		img.logo {
			width:240px;
			height:58px;
		}
	}
}

.header_right {
	flex-grow:1;
	display: flex;
	height:100%;
	justify-content: flex-end;
}

.consult_phone {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	span.free_consult {
		text-transform: uppercase;
		color:$bluelight;
		font-size: 15px;
		display: block;
		margin-bottom:5px;
		letter-spacing: 0.12em;
		@include industry_black;
	}
	a.phone {
		color:$bluedark;
		font-size: 32px;
		text-decoration: none;
		letter-spacing: 0.055em;
		@include montserrat_bold;
	}
}

.menu_wrapper {
	background: $blue;
	height:100%;
	width:96px;
	margin-left:33px;
	cursor: pointer;
	.menu_bars {
		max-width:48px;
		margin:24px auto 0;
		span {
			display: block;
		}
		span.menu_bar {
			width:100%;
			height:3px;
			background: #fff;
			margin-bottom:7px;
			&:nth-of-type(2) {
				width:37px;
				margin-left:11px;
			}
		}
		span.menu_title {
			color:#fff;
			text-transform: uppercase;
			font-size: 15px;
			padding-top:4px;
			letter-spacing: 0.12em;
			@include industry_black;
		}
	}
}


nav.open_desktop {
	opacity: 1;
	visibility: visible;
	.nav_left, .nav_right {
		transform: translateX(0%);
		transition-delay: 100ms;
	}
}

nav.open_desktop.close_desktop {
	.nav_left {
		transform: translateX(-100%);
		transition-delay: 100ms;
	}
	.nav_right {
		transform: translateX(100%);
		transition-delay: 100ms;
	}
}

nav {
	position: fixed;
	width:100%;
	height:100vh;
	top:0;
	left:0;
	z-index: 10;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	display: flex;
	opacity: 0;
	visibility: hidden;
}

.nav_close {
	width:50px;
	height:50px;
	position: absolute;
	top:40px;
	right:33px;
	cursor: pointer;
	//background: pink;
	&:before, &:after {
		content:"";
		display: block;
		width:100%;
		height:5px;
		position: absolute;
		top:21px;
		left:0;
		background: $bluelight;
		transition: all 200ms ease-in-out;
	}
	&:before {
		transform: rotate(-45deg);
	}
	&:after {
		transform: rotate(45deg);
	}
	&:hover {
		&:before, &:after {
			background: $red;
		}
	}
}


.nav_left {
	display: flex;
	flex-basis:67%;
	transform: translateX(-100%);
	transition: transform 900ms ease-in-out;
	.nav_col {
		flex-basis:50%;
	}
}

.nav_col_left {
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	padding:0 35px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	.menu-header {
		width:100%;
		max-width:400px;
	}
	ul.menu {
		list-style: none;
		width:100%;
		li.menu-item-has-children {
			a {
				&:after {
					content:"";
					display: inline-block;
					vertical-align: top;
					margin-top:5px;
					margin-left:11px;
					width: 0; 
					height: 0; 
					border-top: 6px solid transparent;
					border-bottom: 6px solid transparent;
					border-left: 9px solid $red;
				}
			}
		}
		li {
			text-transform: uppercase;
			font-size: 23px;
			letter-spacing: 0.04em;
			margin-bottom:45px;
			line-height: 26px;
			@include industry_bold;
			a {
				text-decoration: none;
				color:$bluedark;
				cursor: pointer;
				transition: all 200ms ease-in-out;
			}
		}
	}
	ul.sub-menu {
		display: none;
	}
}


.nav_col_right {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: scroll;
	background: #eff5fb;
	-webkit-overflow-scrolling: touch;
	.nav_col_right_inner {
		max-width:290px;
		width:100%;
	}
	ul {
		list-style: none;
		li {
			text-transform: uppercase;
			font-size: 17px;
			letter-spacing: 0.02em;
			margin-bottom:41px;
			@include industry_bold;
			a {
				color:$bluedark;
				text-decoration: none;
				transition: all 200ms ease-in-out;
			}
		}
	}
}

nav.desktop {
	.nav_col_left, .nav_col_right {
		ul {
			li {
				a {
					&:hover {
						color:$bluelight;
					}
				}
			}
		}
	}
}

.nav_right {
	background: $bluedark;
	flex-grow:1;
	padding:0 80px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	transform: translateX(100%);
	transition: transform 900ms ease-in-out;
}

.nav_right_inner {
	text-align: center;
	padding:128px 0 100px;
	max-width:480px;
	margin:0 auto;
	span {
		display: block;
	}
	span.nav_right_header {
		color:#fff;
		text-transform: uppercase;
		font-size: 72px;
		letter-spacing: 0.02em;
		@include montserrat_bold;
	}
	span.nav_right_sub_header {
		color:#9da9b6;
		font-size: 15px;
		letter-spacing: 0.028em;
		text-transform: uppercase;
		letter-spacing: 0.28em;
		margin:16px 0 0;
		@include industry_black;
		&:after {
			content:"*";
			display: inline-block;
			color:$bluelight;
			font-size: 22px;
			vertical-align: top;
			margin-left:8px;
		}
	}
	.gform_wrapper {
		margin-top:37px;
	}
	ul {
		list-style: none;
		li {
			display: block;
			margin-bottom:17px;
			position: relative;
			&:after {
				content:"*";
				display: block;
				position: absolute;
				top:25px;
				right:22px;
				color:$bluelight;
				font-size:22px;
				@include industry_black;
			}
			label {
				display: none;
			}
			input, textarea {
				border:none;
				display: block;
				width:100%;
				font-size: 16px;
				color:$bluedark;
				letter-spacing: 0.03em;
				padding:21px 38px 21px 20px;
			}
			textarea {
				height:210px;
			}
		}
	}
	.gform_footer {
		width:100%;
		position: relative;
		z-index:1;
		&:before {
			content:"";
			display: block;
			position: absolute;
			top:15px;
			left:12px;
			width:calc(100% - 24px);
			height:calc(100% - 30px);
			background: $red;
			transition: all 300ms linear;
			z-index:-2;
		}
		&:hover {
			&:before {
				background: $bluelight;
			}
		}
	}
}


.small_device_back_wrapper {
	display: none;
}

.sticky_mobile_header {
	display: none;
}


@media screen and (max-width: 1450px) {
	
	
	.nav_left {
		flex-grow:1;
		flex-basis:auto;
	}
	
	
	.nav_col_left {
		.menu-header {
			max-width: 267px;
		}
	}
	
	.nav_col_right {
		.nav_col_right_inner {
			max-width: 220px;
		}
	}
	
	.nav_right {
		flex-basis:469px;
		flex-shrink:0;
		flex-grow:inherit;
		padding: 0 0px;
	}
	
	.nav_right_inner {
		.gform_wrapper {
			padding:0 49px;
		}
	}
	
	
	
} /* Media Query */


@media screen and (min-width: 1230px) {
	
	
	.small_device_back_wrapper {
		display: none !important;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1230px) {
	
	
	nav {
		opacity: 1;
		visibility: visible;
		display: none;
		top: 96px;
		background:$bluedark;
	}
	
	.nav_left {
		transform: translateX(0);
		display: block;
		
	}
	
	.nav_right {
		display: none;
	}
	
	.nav_col_left {
		background: transparent;
		padding-top:70px;
		position: absolute;
		top:0;
		left:0;
		width:100%;
		display: block;
		padding-bottom:150px;
		-webkit-overflow-scrolling: touch;
		.menu-header {
			margin:0 auto;
		}
		ul.menu {
			text-align: center;
			li {
				margin-bottom: 40px;
				a {
					color:#fff;
				}
			}
		}
	}
	
	.nav_col_right {
		position: absolute;
		top:0;
		left:0;
		padding-top:70px;
		width:100%;
		background:transparent;
		display: none;
		padding-bottom:150px;
		-webkit-overflow-scrolling: touch;
		.nav_col_right_inner {
			max-width:100%;
			padding-left:35px;
			padding-right:35px;
		}
		ul {
			text-align: center;
			li {
				text-transform: uppercase;
				font-size: 23px;
				letter-spacing: 0.04em;
				margin-bottom: 40px;
				line-height: 26px;
				@include industry_bold;
				a {
					color:#fff;
					&:hover {
						
					}
				}
			}
		}
	}
	
	.small_device_close_wrapper, .small_device_back_wrapper {
		display: block;
		width: 96px;
		height:100%;
		position: absolute;
		top:0;
		right:0;
		background: $blue;
		cursor: pointer;
		display: none;
		
	}
	
	
	
	.small_device_close_wrapper {
		.small_device_close {
			width:45px;
			height:45px;
			margin:25px 0 0 27px;
			position: relative;
			&:before, &:after {
				content:"";
				display:block;
				width:100%;
				height:3px;
				background:#fff;
				position: absolute;
				top:20px;
				left:0;
			}
			&:before {
				transform: rotate(-45deg);
			}
			&:after {
				transform: rotate(45deg);
			}
		}
	}
	
	.small_device_back_wrapper {
		text-align: center;
		.small_device_back {
			color:#fff;
			font-size: 15px;
			letter-spacing: 0.12em;
			text-transform: uppercase;
			margin-top:45px;
			margin-left:5px;
			@include industry_black;
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	header {
	height: 89px;
	}
	
	.consult_phone {
		position: fixed;
		width:100%;
		top: 89px;
		left:0;
		height:60px;
		background: $bluedark;
		flex-direction: row;
		align-items: center;
		span.free_consult {
			margin-bottom:0;
			margin-right:15px;
			margin-top:2px;
		}
		a.phone {
			color:#fff;
		}
	}
	
	
	nav {
		top: 89px;
	}
	
	
	.small_device_close_wrapper {
		.small_device_close {
			margin: 21px 0 0 27px;
		}
	}
	
	.small_device_back_wrapper {
		.small_device_back {
			margin-top: 40px;
		}
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	
	header {
		height:89px;
		position: relative;
	}
	
	
	.header_left {
		padding-left:15px;
		a {
			img.logo {
				width: 219px;
				height: 53px;
			}
		}
	}
	
	
	.consult_phone {
		position: absolute;
		span.free_consult {
			font-size:12px;
			margin-right: 9px;
		}
		a.phone {
			font-size: 25px;
		}
	}
	
	.menu_wrapper, .small_device_close_wrapper, .small_device_back_wrapper {
		width: 92px;
	}
	
	
	
	.sticky_mobile_header {
		display: block;
		position: fixed;
		top:0px;
		left:0;
		width:100%;
		height:60px;
		background:$bluedark;
		z-index:10;
		display: flex;
		opacity: 0;
		visibility: hidden;
		.sticky_header_left {
			flex-grow:1;
			display: flex;
			align-items: center;
			justify-content: center;
			background: transparent;
			transition: all 200ms ease-in-out;
			span.call_now {
				color:$bluelight;
				font-size: 12px;
				letter-spacing: 0.12em;
				text-transform: uppercase;
				display: block;
				margin-right:9px;
				position: relative;
				top:2px;
				@include industry_black;
			}
			a.sticky_phone {
				font-size: 25px;
				color:#fff;
				text-decoration: none;
				letter-spacing: 0.055em;
				transition: all 200ms ease-in-out;
				@include montserrat_bold;
			}
		}
		.sticky_header_right {
			flex-basis:73px;
			flex-shrink:0;
			height:100%;
			background: $blue;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			.sticky_menu_bars {
				width:100%;
				max-width:40px;
				span.sticky_menu_bar {
					display: block;
					width:100%;
					height:3px;
					background:#fff;
					margin-bottom:6px;
					&:nth-of-type(2) {
						width:32px;
						margin-left:7px;
					}
					&:last-of-type {
						margin-bottom:0;
					}
				}
			}
			.sticky_close {
				width:35px;
				height:35px;
				position: relative;
				display: none;
				&:before, &:after {
					content:"";
					display: block;
					width:100%;
					height:3px;
					background:#fff;
					position: absolute;
					top:15px;
					left:0;
				}
				&:before {
					transform: rotate(-45deg);
				}
				&:after {
					transform: rotate(45deg);
				}
			}
			.sticky_back {
				color: #fff;
				font-size: 14px;
				letter-spacing: 0.12em;
				text-transform: uppercase;
				margin-left:3px;
				display: none;
				@include industry_black;
			}
		}
	}
	
	.sticky_mobile_header.closed {
		transition: all 200ms ease-in-out;
	}
	
	
	.sticky_mobile_header.trigger {
		opacity: 1;
		visibility: visible;
	}
	
	.sticky_mobile_header.open {
		.sticky_header_left {
			background:#fff;
		}
		a.sticky_phone {
			color:$bluedark;
		}
	}
	
	
	
	nav {
		position: absolute;
		height:200vh;
	}
	
	nav.trigger {
		position: fixed;
		height:100vh;
		top: 60px;
	}
	
	
	.nav_col_left {
		padding-top: 54px;
		ul.menu {
			li {
				font-size: 20px;
				margin-bottom: 26px;
				a {
					
				}
			}
		}
	}
	
	
	.nav_col_right {
		padding-top: 54px;
		ul {
			li {
				font-size: 20px;
				margin-bottom: 26px;
				a {
					
				}
			}
		}
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 399px) {
	
	
	
	.consult_phone {
		span.free_consult {
			display: none;
		}
	}
	
	
	.sticky_mobile_header {
		.sticky_header_left {
			span.call_now {
				display: none;
			}
		}
	}
	
	
} /* Media Query */
