

header {
	width:100%;
	height:96px;
	box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
}

.header_left {
	padding-left:18px;
	flex-basis:240px;
	a {
		img.logo {
			width:240px;
		}
	}
}

.header_right {
	flex-grow:1;
	display: flex;
	height:100%;
	justify-content: flex-end;
}

.consult_phone {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	span.free_consult {
		text-transform: uppercase;
		color:$bluelight;
		font-size: 15px;
		display: block;
		margin-bottom:5px;
		letter-spacing: 0.12em;
		@include industry_black;
	}
	a.phone {
		color:$bluedark;
		font-size: 32px;
		text-decoration: none;
		letter-spacing: 0.055em;
		@include montserrat_bold;
	}
}

.menu_wrapper {
	background: $blue;
	height:100%;
	width:96px;
	margin-left:33px;
	.menu_bars {
		max-width:48px;
		margin:24px auto 0;
		span {
			display: block;
		}
		span.menu_bar {
			width:100%;
			height:3px;
			background: #fff;
			margin-bottom:7px;
			&:nth-of-type(2) {
				width:37px;
				margin-left:11px;
			}
		}
		span.menu_title {
			color:#fff;
			text-transform: uppercase;
			font-size: 15px;
			padding-top:4px;
			letter-spacing: 0.12em;
			@include industry_black;
		}
	}
}



