body.page-template-template-makeappointment {
	#internal_main {
		padding-left:175px;
		padding-top:110px;
	}
}

.myappointment_wrapper {
	margin-top:125px;
	position: relative;
	z-index:1;
}

.appointment_image_wrapper {
	img {
		max-width: 100%;
		height:auto;
		display: block;
		box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.3);
	}
}


.myblock_row {
	width:100%;
	//background: pink;
	display: flex;
	justify-content: space-between;
	&:last-of-type {
		
	}
}

.myblock_one {
	order:1;
}

.myblock_two {
	order:2;
}

/*
.block {
	order:3;
}
*/

.make_appointment_wrapper {
	
}

.final {
	br {
		display: none;
	}
}


.myblock_calendar {
	height:584px;
	overflow: hidden;
}

.ui-widget-header {
	background:$bluedark;
	position: relative;
}

.ui-datepicker-title {
	color:#fff;
	order:2;
	text-transform: uppercase;
	font-size: 26px;
	text-align: center;
	height:66px;
	padding-top: 20px;
	letter-spacing: 0.02em;
	@include montserrat_extrabold;
}

.ui-datepicker-prev {
	display: block;
	width: 0; 
  height: 0;
  order:1;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent; 
  border-right:7px solid #6091da; 
  text-indent:-9999px;
  position: absolute;
  top: 26px;
  left:35px;
  span {
	  display: block;
	  text-indent: -9999px;
  }
}

.ui-datepicker-next {
	display: block;
	width: 0; 
	order:3;
  height: 0; 
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent; 
  border-left:7px solid #6091da;
  position: absolute;
  top: 26px;
  right:35px;
  span {
	  display: block;
	  text-indent: -9999px;
  }
}


.mydate_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.myblock_calendar {
	flex-basis:427px;
	position: relative;
	flex-shrink:0;
	box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.2);
}

table.ui-datepicker-calendar {
	padding: 35px 35px 30px;
	width:100%;
	thead {
		tr {
			th {
				span {
					text-transform: uppercase;
					font-size: 16px;
					letter-spacing: 0.16em;
					color:#6091da;
					display: block;
					padding-bottom:10px;
					@include industry_black;
				}
			}
		}
	}
	tbody {
		tr {
			td {
				text-align: center;
				margin:0 3px 0;
				transition: all 200ms ease-in-out;
				.ui-state-default {
					text-decoration: none;
					display: block;
					font-size:16px;
					padding: 15px 0px;
					color:$bluedark;
					background:#ebebeb;
					@include montserrat_reg;
					&:hover {
						background:#c9dff1;
					}
				}
			}
			td.ui-datepicker-other-month {
				background: #fff;
			}
			td.ui-datepicker-current-day {
				.ui-state-active {
					background:#c9dff1;
				}
			}
		}
	}
}

span.select_time {
	text-transform: uppercase;
	display: block;
	font-size: 16px;
	letter-spacing: 0.16em;
	color:#6091da;
	padding-bottom: 10px;
	@include industry_black;
}

.mytime {
	padding:0 35px;
}

#ea-loader {
	position: absolute;
	top:0;
	left:0;
	width:100% !important;
	height:!important;
	
	z-index: 1;
	display: none !important;
}

.time {
	height: 135px;
	width:100%;
/*
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
*/
	
	
	
	
	a.time-value, a.time-disabled {
		text-decoration: none;
		float:left;
		font-size: 16px;
		margin-bottom:6px;
		width: 23.4%;
		height: 37px;
		display: block;
		letter-spacing: 0.03em;
		color:$bluedark;
		border:1px solid #d4d6da;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #fff;
		margin-right:6px;
		transition: all 200ms ease-in-out;
		@include montserrat_reg;
		&:nth-of-type(4n + 4) {
			margin-right:0;
		}
		&:hover {
			border:1px solid #C6DFED;
			background:#C6DFED;
		}
	}
	a.time-value.selected-time {
		background:#C6DFED;
		border:1px solid #C6DFED;
		
	}
}


a.time-disabled {
	background:#ebebeb !important;
}


/* ********** */



.calendar {
	width:427px;
	margin:128px 0 0;
	border-right:1px solid grey;
	border-left:1px solid grey;
}

.mytime {
	width:427px;
	border-right:1px solid grey;
	border-left:1px solid grey;
	border-bottom:1px solid grey;
}


.final.myblock_row {
	justify-content: flex-start;
	margin-top: 104px;
	.myblock_one {
		width:971px;
	}
	.myblock_two {
		.section {
			display: none;
		}
	}
}


.bottom_header {
	width:100%;
	background: $bluedark;
	padding:19px 35px;
	span {
		color:#fff;
		font-size: 26px;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		@include montserrat_bold;
	}
}

small {
	display: none;
}

