


.internal_banner {
	position: relative;
	height:302px;
	img {
		width:100%;
		height:100%;
		position: absolute;
		top:0;
		left:0;
		object-fit:cover;
	}
}


#internal_main {
	margin-top:96px;
}


.container {
	min-height:600px;
}

.two_col {
	display: flex;
}

.inner_content {
	flex-grow:1;
	padding-left:9%;
	padding-right:7.5%;
	margin-top:120px;
}

.sidebar_wrapper {
	flex-basis:606px;
	flex-shrink:0;
	background:$bluedark;
}