

.testimonials_wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top:100px;
	margin-bottom:-49px;
}

.testi_col {
	flex-basis:31%;
}


.single_testi {
	background: #fff;
	border:1px solid #cfd4da;
	//padding:88px 53px 95px;
	margin-bottom: 49px;
	.single_testi_inner {
		padding:88px 53px 95px;
	}
	
	img.stars {
		width:203px;
		height:29px;
	}
	span {
		display: block;
	}
	span.single_testi_title {
		font-size: 32px;
		line-height: 42px;
		margin-top:20px;
		@include industry_bold;
		&:after {
			content:"";
			display: block;
			width:77px;
			height:10px;
			margin:20px 0 0;
			background-size:80px 11px;
			background: url(#{$themePath}images/graphic-squiggle.svg) no-repeat;
		}
	}
	.single_testi_description {
		font-size: 17px;
		line-height: 30px;
		margin-top:25px;
		@include montserrat_reg;
		p {
			margin-bottom:30px;
		}
	}
	span.single_testi_name {
		text-transform: uppercase;
		font-size: 15px;
		letter-spacing: 0.24em;
		color:$bluelight;
		padding-top: 47px;
		display: block;
		@include industry_black;
	}
}



	.testimonial_vid {
		position: relative;
		overflow: hidden;
		height: 275px;
		&:hover {
			.testimonial_video_overlay {
				.testi_play {
					background: rgba(0,0,0,0.6);
				}
			}
		}
		img.vimeo_thumb {
			width:100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
			object-fit:cover;
		}
		.testimonial_video_overlay {
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			display: flex;
			justify-content: center;
			align-items: center;
			.testi_play {
				width:120px;
				height:120px;
				border-radius: 50%;
				background: rgba(0,0,0,0.5);
				display: flex;
				justify-content: center;
				align-items: center;
				transition: all 200ms ease-in-out;
				&:after {
					content:"";
					display: block;
					width: 0; 
					height: 0; 
					border-top: 20px solid transparent;
					border-bottom: 20px solid transparent;
					border-left: 30px solid #fff;
				}
			}
		}
	}



@media screen and (max-width: 1450px) {
	
	
	.testi_col {
		flex-basis:48%;
	}
	
	
	.testimonial_vid {
		height: 325px;
	}
	
	.single_testi {
		.single_testi_inner {
			padding: 65px 50px;
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	
	.testimonials_wrapper {
		margin-top:77px;
		margin-bottom: -59px;
	}
	
	
	.single_testi {
		//padding: 65px 50px;
	}
	
	    
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	.testimonials_wrapper {
		margin-top:50px;
		margin-bottom: -75px;
	}
	
	.single_testi {
		.single_testi_inner {
			padding: 50px 30px;
		}
		span.single_testi_title {
			font-size: 28px;
			line-height: 32px;
		}
	}
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 525px) {
	
	
	.testimonial_vid {
    height: 275px;
	}
	
	
	
} /* Media Query */
