

.meet_team_wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin:100px 0 -100px;
	&:after {
		content:"";
		flex-basis:31%;
	}
}


.single_att {
	flex-basis:31%;
	text-align: center;
	margin-bottom:100px;
	a {
		text-decoration: none;
	}
	.att_img_wrapper {
		height:604px;
		width:100%;
		position: relative;
		img.att_img {
			position: absolute;
			width:100%;
			height:100%;
			top:0;
			left:0;
			object-fit:cover;
			object-position:50% 0;
		}
		.att_overlay {
			position: absolute;
			width:100%;
			height:100%;
			width:100%;
			height:100%;
			background:rgba(9,61,157,0.85);
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			opacity: 0;
			transition: all 300ms ease-in-out;
			svg {
				width:75px;
				height:47px;
				transform: translateY(-10px);
				transition: all 1500ms cubic-bezier(.17,.66,.34,.98);
			}
			span {
				color:#fff;
				text-transform: uppercase;
				font-size: 20px;
				margin-top:30px;
				letter-spacing: 0.18em;
				transform: translateY(10px);
				transition: all 700ms cubic-bezier(.17,.66,.34,.98);
				@include industry_black;
			}
		}
	}
	span.att_name {
		display: block;
		font-size: 32px;
		line-height: 35px;
		color:$bluedark;
		margin-top:45px;
		@include industry_bold;
	}
	span.att_position {
		display: block;
		font-size:20px;
		line-height: 23px;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		color:$bluelight;
		margin-top:10px;
		@include industry_bold;
		&:after {
			content:"";
			display: block;
			width:77px;
			height:10px;
			margin:24px auto 0;
			background-size:80px 11px;
			background: url(#{$themePath}images/graphic-squiggle.svg) no-repeat;
		}
	}
}


.single_att {
	&:hover {
		.att_overlay {
			opacity: 1;
			svg, span {
				transform: translateY(0);
			}
		}
	}
}


@media screen and (max-width: 1360px) {
	
	
	.meet_team_wrapper {
		&:after {
			display: none;
		}
	}
	
	
	.single_att {
		flex-basis:48%;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	.meet_team_wrapper {
		margin:77px 0 -70px;
	}
	
	
	.single_att {
		margin-bottom: 70px;
		&:hover {
			.att_overlay {
				display: none;
			}
		}
	}
	    
	
	
	
} /* Media Query */


@media screen and (max-width: 915px) {
	
	
	.single_att {
		.att_img_wrapper {
			height: 510px;
		}
		span.att_name {
			margin-top: 30px;
		}
	}
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	.meet_team_wrapper {
		display: block;
		margin-top:50px;
		margin-bottom:0px;
	}
	
	
	.single_att {
		.att_img_wrapper {
			height: 670px;
		}
		
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 590px) {
	
	
	
	.meet_team_wrapper {
		
	}
	
	.single_att {
		margin-bottom: 55px;
		&:last-of-type {
			margin-bottom:0;
		}
		.att_img_wrapper {
			height:auto;
			img.att_img {
				max-width:100%;
				height:auto;
				display: block;
				position: relative;
			}
		}
	}
	
	
	
} /* Media Query */

