

.video_wrapper {
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
	margin:95px 0 -115px;
	&:after {
		content:"";
		flex-basis:30.5%;
	}
}

.single_video {
	flex-basis:30.5%;
	margin-bottom:115px;
	a {
		display: block;
		text-decoration: none;
		.single_video_img_wrapper {
			position: relative;
		}
		.video_overlay {
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background: rgba(9,61,157,0);
			z-index:1;
		}
		.click_play_wrapper {
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index:2;
			.click_play_inner {
				width:165px;
				height:167px;
				position: relative;
				&:before, &:after {
					content: "";
				 	display: block;
				 	 position: absolute;
				}
				&:before {
				 	width:110px;
				 	height:110px;
				 	background:$blue;
				 	border-radius: 50%;
			 		top: 31px;
			 		left: 24px;
			 	}
			 	&:after {
				 	 width: 0; 
				 	 height: 0; 
				 	 border-top: 11px solid transparent;
				 	 border-bottom: 11px solid transparent;
				 	 border-left: 15px solid #fff; 
				 	 top: 74px;
				 	 left: 74px;
			 	}
				img.click_play {
			 		position: absolute;
			 		top:0;
			 		left:0;
			 		width:100%;
			 		height:100%;
				}
			}
		}
		img.vimeo_thumb {
			display: block;
			max-width:100%;
			height:auto;
			box-shadow: 0px 0px 37.2px 2.8px rgba(0, 0, 0, 0.31);
		}
		.video_content {
			span {
				display: block;
			}
			span.video_title {
				font-size: 32px;
				line-height: 39px;
				margin-top:45px;
				color:$bluedark;
				@include industry_bold;
				&:after {
					content:"";
					display: block;
					width:77px;
					height:10px;
					margin:17px 0 0;
					background-size:80px 11px;
					background: url(#{$themePath}images/graphic-squiggle.svg) no-repeat;
				}
			}
			span.video_description {
				font-size: 18px;
				line-height: 31px;
				color:$bluedark;
				margin-top:21px;
				@include montserrat_reg;
			}
		}
	}
}


