


.internal_banner {
	position: relative;
	height:302px;
	img {
		width:100%;
		height:100%;
		position: absolute;
		top:0;
		left:0;
		object-fit:cover;
	}
}


#internal_main {
	margin-top:96px;
}


.container {
	min-height:600px;
}

.two_col {
	display: flex;
}

.inner_content {
	flex-grow:1;
	padding-left:9%;
	padding-right:7.5%;
	margin-top:120px;
}

.sidebar_wrapper {
	flex-basis:606px;
	flex-shrink:0;
	
}

.sidebar_form {
	background:$bluedark;
}


.sidebar_form {
	text-align: center;
	padding:109px 75px;
	span.sidebar_form_title {
		color:#fff;
		text-transform: uppercase;
		font-size: 40px;
		display: block;
		letter-spacing: 0.02em;
		@include montserrat_bold;
	}
	span.sidebar_form_required {
		color:#9da9b6;
		text-transform: uppercase;
		display: block;
		font-size: 15px;
		letter-spacing: 0.28em;
		margin-top:16px;
		@include industry_black;
		&:after {
			content:"*";
			display: inline-block;
			vertical-align: top;
			color:$bluelight;
			font-size: 18px;
			margin-left:9px;
			@include industry_black;
		}
	}
	.gform_wrapper {
		margin-top:37px;
	}
	ul {
		list-style: none;
		li {
			display: block;
			margin-bottom:17px;
			position: relative;
			&:after {
				content:"*";
				display: block;
				position: absolute;
				top:25px;
				right:22px;
				color:$bluelight;
				font-size:22px;
				@include industry_black;
			}
			label {
				display: none;
			}
			input, textarea {
				border:none;
				display: block;
				width:100%;
				font-size: 16px;
				color:$bluedark;
				letter-spacing: 0.03em;
				padding:21px 38px 21px 20px;
			}
			textarea {
				height:210px;
			}
		}
	}
	.gform_footer {
		width:100%;
		position: relative;
		z-index:1;
		&:before {
			content:"";
			display: block;
			position: absolute;
			top:15px;
			left:12px;
			width:calc(100% - 24px);
			height:calc(100% - 30px);
			background: $red;
			transition: all 300ms linear;
			z-index:-2;
		}
		&:hover {
			&:before {
				background: $bluelight;
			}
		}
	}
}