


.internal_banner {
	position: relative;
	height:302px;
	img {
		width:100%;
		height:100%;
		position: absolute;
		top:0;
		left:0;
		object-fit:cover;
		object-position:100% 0;
	}
}




.container {
	min-height:600px;
}

.two_col {
	display: flex;
}

.inner_content {
	flex-grow:1;
	padding-left:9%;
	padding-right:7.5%;
	margin-top:120px;
}

.sidebar_wrapper {
	flex-basis:606px;
	flex-shrink:0;
	
}

.sidebar_form {
	background:$bluedark;
}


.sidebar_form {
	text-align: center;
	padding:109px 71px;
	span.sidebar_form_title {
		color:#fff;
		text-transform: uppercase;
		font-size: 40px;
		display: block;
		letter-spacing: 0.02em;
		@include montserrat_bold;
	}
	span.sidebar_form_required {
		color:#9da9b6;
		text-transform: uppercase;
		display: block;
		font-size: 15px;
		letter-spacing: 0.28em;
		margin-top:16px;
		@include industry_black;
		&:after {
			content:"*";
			display: inline-block;
			vertical-align: top;
			color:$bluelight;
			font-size: 18px;
			margin-left:9px;
			@include industry_black;
		}
	}
	.gform_wrapper {
		margin-top:37px;
	}
	ul {
		list-style: none;
		li {
			display: block;
			margin-bottom:17px;
			position: relative;
			&:after {
				content:"*";
				display: block;
				position: absolute;
				top:25px;
				right:22px;
				color:$bluelight;
				font-size:22px;
				@include industry_black;
			}
			label {
				display: none;
			}
			input, textarea {
				border:none;
				display: block;
				width:100%;
				font-size: 16px;
				color:$bluedark;
				letter-spacing: 0.03em;
				padding:21px 38px 21px 20px;
				@include montserrat_reg;
			}
			textarea {
				height:210px;
			}
		}
	}
	.gform_footer {
		width:100%;
		position: relative;
		z-index:1;
		&:before {
			content:"";
			display: block;
			position: absolute;
			top:15px;
			left:12px;
			width:calc(100% - 24px);
			height:calc(100% - 30px);
			background: $red;
			transition: all 300ms linear;
			z-index:-2;
		}
		&:hover {
			&:before {
				background: $bluelight;
			}
		}
	}
}


.sidebar_box_wrapper {
	margin:125px 0 0 0;
}

.sidebar_box {
	margin-bottom:100px;
	h3 {
		color:$blue;
		text-transform: uppercase;
		font-size: 40px;
		letter-spacing: 0.02em;
		@include montserrat_bold;
		&:after {
			content:"";
			display: block;
			width:77px;
			height:10px;
			margin: 18px 0 26px;
			background-size:80px 11px;
			background: url(#{$themePath}images/graphic-squiggle.svg) no-repeat;
		}
	}
	
	ul {
		list-style: none;
		
		li.menu-item-has-children {
			> a {
				&:after {
					content:"";
					display: inline-block;
					vertical-align: top;
					width: 0; 
					margin-top:2px;
					margin-left:8px;
					height: 0; 
					border-top: 6px solid transparent;
					border-bottom: 6px solid transparent;
					border-left: 9px solid $bluelight;
					transition: all 400ms cubic-bezier(.17,.66,.34,.98);
					//transform-origin: 0 0 0;
					transform: rotate(0deg);
				}
			}
			> a.active {
					color:$bluelight;
					&:after {
						transform: rotate(90deg);
						//transform-origin: 3px 6px 0;
					}
				}
			}
		li.current-menu-ancestor {
			ul {
				display: block;
			}
		}
		li {
			text-transform: uppercase;
			font-size: 19px;
			line-height: 21px;
			letter-spacing: 0.06em;
			@include industry_bold;
			a {
				color:$bluedark;
				cursor: pointer;
				text-decoration: none;
				display: block;
				border-bottom:1px solid #dde0e5;
				padding:29px 97px 29px 0;
				transition: all 200ms ease-in-out;
				&:hover {
					color:$bluelight;
				}
			}
			ul {
				display: none;
				li {
					font-size: 16px;
					letter-spacing: 0.08em;
					a {
						padding-left:50px;
					}
				}
				li.current-menu-item {
					a {
						color:$bluelight;
					}
				}
			}
		}
	}
}


.sidebar_box.blog {
	&:last-of-type {
		margin-bottom: 0;
	}
	ul {
		li {
			line-height: 33px;
			a {
				
			}
		}
		li.active {
			a {
				color:$bluelight;
			}
		}
	}
}

.sidebar_box.blog.recent_posts {
	ul {
		li {
			text-transform: none;
			a {
				padding: 31px 97px 31px 0;
			}
		}
	}
}

@media screen and (max-width: 1450px) {
	
	
	.internal_banner {
		img {
			object-position:77% 0;
		}
	}
	
	
	.inner_content {
		margin-top: 97px;
		padding-left: 64px;
    padding-right: 64px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1330px) {
	

	
	.sidebar_wrapper {
		flex-basis:450px;
	}
	
	.sidebar_form {
		padding: 85px 45px;
	}
	
	
	.sidebar_box {
		ul {
			li {
				a {
					padding-right:50px;
				}
			}
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 1200px) {
	
	
	.two_col {
		display: block;
		padding-top: 1px;
	}
	
	
	.inner_content {
		margin-top: 79px;
		padding-bottom: 55px;
	}
	
	
	
	.sidebar_form {
		padding: 109px 70px;
		display: none;
		.gform_wrapper {
			max-width:565px;
			margin-left:auto;
			margin-right:auto;
		}
		 .gform_footer {
	    max-width:414px;
    }
	}
	
	
	.sidebar_box_wrapper {
		margin:0;
	}
	
	.sidebar_box {
		padding:0 70px;
		h3 {
			margin-top:0;
		}
		ul {
			li {
				a {
					padding-right:0;
				}
			}
		}
	}
	
	.sidebar_wrapper.blog {
		margin-top:15px;
	}
	
	.sidebar_box.blog {
		margin-bottom: 75px;
	}

	.sidebar_box.blog.recent_posts {
		ul {
			li {
				a {
					padding-right:0;
				}
			}
		}
	}
	
	
} /* Media Query */



@media screen and (max-width: 1066px) {
	
	.internal_banner {
		display: none;
	}
	
	.inner_content {
		margin-top:0;
		padding: 0 54px 35px;
	}
	
	.sidebar_form {
    padding: 80px 54px;
	}
	
	
	.sidebar_box {
		padding:0 54px;
		h3 {
			//margin: 65px 0 0 0;
		}
	}

	
	
} /* Media Query */

@media screen and (max-width: 767px) {
	
	.inner_content {
	  padding: 0 32px 25px;
  }
  
  .sidebar_box {
	 padding:0 32px;
	 h3 {
		font-size: 35px;
		line-height: 40px;
	 }
  }
  
  .sidebar_box.pa_box {
		margin-bottom:0;
		h3 {
			
		}
		ul {
			li {
				ul {
					li {
						a {
							padding-left:0;
						}
					}
				}
			}
		}
	}
	
	   
	
	.sidebar_box.blog {
		margin-bottom: 55px;
		ul {
			li {
				line-height: 29px;
			}
		}
	}
	
	
} /* Media Query */