

h1.blog {
	&:after {
		display: none;
	}
}


.blog_feed {
	margin:60px 0 0;
}


.blog_post {
	padding-bottom:72px;
	border-bottom:1px solid #ccd1d8;
	margin-bottom:70px;
	&:last-of-type {
		margin-bottom: 0;
	}
}

.blog_meta {
	font-size: 16px;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	margin-bottom: 18px;
	@include industry_bold;
	span {
		display: inline;
	}
	ul {
		display: inline;
		margin:0;
		li {
			display: inline-block;
			padding:0;
			margin:0;
			&:before {
				content: "";
				display: inline-block;
				vertical-align: top;
				width:2px;
				height:15px;
				background: $bluesky;
				margin:7px 10px 0 5px;
				color:$bluesky;
				position: relative;
				top:0;
				left:0;
				@include industry_book;
			}
			a {
				text-decoration: none;
			}
		}
	}
}

.blog_meta.single {
	margin-top:45px;
	margin-bottom:20px;
}


.blog_content {
	&:before {
		content:"";
		display: block;
		width:77px;
		height:10px;
		margin:0px 0 33px;
		background-size:80px 11px;
		background: url(#{$themePath}images/graphic-squiggle.svg) no-repeat;
	}
}


a.read_more {
	width:197px;
	height:82px;
	margin-top:20px;
	&:before {
		content:"";
		display: block;
		position: absolute;
		top:10px;
		left:12px;
		width:calc(100% - 24px);
		height:calc(100% - 20px);
		background: $red;
		transition: all 300ms linear;
		z-index:-2;
	}
	&:hover {
		color:#fff;
	}
}

.pagination {
	margin-top:17px;
	.blog_page_link {
		text-transform: uppercase;
		font-size: 17px;
		letter-spacing: 0.04em;
		display: inline-block;
		@include industry_bold;
		a {
			text-decoration: none;
			color:$bluedark;
			transition: all 200ms ease-in-out;
			&:hover {
				color:$bluelight;
			}
		}
	}
	.nav_next {
		a {
			&:after {
				content:"";
				display: inline-block;
				width:2px;
				height:15px;
				vertical-align: top;
				margin:7px 7px 0 9px;
				background: $bluesky;
			}
		}
	}
	.nav_next {
		
	}
}



@media screen and (max-width: 1066px) {
	
	
	.blog_feed {
    margin: 37px 0 0;
	}
	
	.blog_post {
		padding-bottom: 60px;
		margin-bottom: 50px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	a.read_more {
		margin-left:0;
		margin-right:0;
	}
	
	
} /* Media Query */
