body.page-template-template-makeappointment {
	#internal_main {
		padding-left:175px;
		padding-top:110px;
	}
}



img.make_appointment_image {
	position: absolute;
	top:0;
	right:0;
	box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.3);
}



.myappointment_wrapper {
	margin-top:125px;
	position: relative;
	z-index:1;
}

/*
.appointment_image_wrapper {
	img {
		max-width: 100%;
		height:auto;
		display: block;
		box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.3);
	}
}
*/


.myblock_row {
	width:100%;
	//background: pink;
	display: flex;
	justify-content: space-between;
	&:last-of-type {
		
	}
}

.myblock_one {
	order:1;
}

.myblock_two {
	order:2;
}

/*
.block {
	order:3;
}
*/

.make_appointment_wrapper {
	
}

.final {
	br {
		display: none;
	}
}


.myblock_calendar {
	height:584px;
	overflow: hidden;
}

.ui-widget-header {
	background:$bluedark;
	position: relative;
}

.ui-datepicker-title {
	color:#fff;
	order:2;
	text-transform: uppercase;
	font-size: 26px;
	text-align: center;
	height:66px;
	padding-top: 20px;
	letter-spacing: 0.02em;
	@include montserrat_extrabold;
}

.ui-datepicker-prev {
	display: block;
	width: 0; 
  height: 0;
  order:1;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent; 
  border-right:7px solid #6091da; 
  text-indent:-9999px;
  position: absolute;
  top: 26px;
  left:35px;
  span {
	  display: block;
	  text-indent: -9999px;
  }
}

.ui-datepicker-next {
	display: block;
	width: 0; 
	order:3;
  height: 0; 
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent; 
  border-left:7px solid #6091da;
  position: absolute;
  top: 26px;
  right:35px;
  span {
	  display: block;
	  text-indent: -9999px;
  }
}


.mydate_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.myblock_calendar {
	flex-basis:427px;
	position: relative;
	flex-shrink:0;
	box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.2);
}

table.ui-datepicker-calendar {
	padding: 35px 35px 30px;
	width:100%;
	thead {
		tr {
			th {
				span {
					text-transform: uppercase;
					font-size: 16px;
					letter-spacing: 0.16em;
					color:#6091da;
					display: block;
					padding-bottom:10px;
					@include industry_black;
				}
			}
		}
	}
	tbody {
		tr {
			td {
				text-align: center;
				margin:0 3px 0;
				transition: all 200ms ease-in-out;
				.ui-state-default {
					text-decoration: none;
					display: block;
					font-size:16px;
					padding: 15px 0px;
					color:$bluedark;
					background:#ebebeb;
					@include montserrat_reg;
					&:hover {
						background:#c9dff1;
					}
				}
			}
			td.ui-datepicker-other-month {
				background: #fff;
			}
			td.ui-datepicker-current-day {
				.ui-state-active {
					background:#c9dff1;
				}
			}
		}
	}
}

span.select_time {
	text-transform: uppercase;
	display: block;
	font-size: 16px;
	letter-spacing: 0.16em;
	color:#6091da;
	padding-bottom: 10px;
	@include industry_black;
}

.mytime {
	padding:0 35px;
}

#ea-loader {
	position: absolute;
	top:0;
	left:0;
	width:100% !important;
	height:!important;
	
	z-index: 1;
	display: none !important;
}

.time {
	height: 135px;
	width:100%;
/*
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
*/
	
	
	
	
	a.time-value, a.time-disabled {
		text-decoration: none;
		float:left;
		font-size: 16px;
		margin-bottom:6px;
		width: 23.4%;
		height: 37px;
		display: block;
		letter-spacing: 0.03em;
		color:$bluedark;
		border:1px solid #d4d6da;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #fff;
		margin-right:6px;
		transition: all 200ms ease-in-out;
		@include montserrat_reg;
		&:nth-of-type(4n + 4) {
			margin-right:0;
		}
		&:hover {
			border:1px solid #C6DFED;
			background:#C6DFED;
		}
	}
	a.time-value.selected-time {
		background:#C6DFED;
		border:1px solid #C6DFED;
		
	}
}


a.time-disabled {
	background:#ebebeb !important;
}


/* ********** */



.calendar {
	width:427px;
	margin:128px 0 0;
	border-right:1px solid #d4d6da;
	border-left:1px solid #d4d6da;
}

.mytime {
	width:427px;
	border-right:1px solid #d4d6da;
	border-left:1px solid #d4d6da;
	border-bottom:1px solid #d4d6da;
}


.final.myblock_row {
	justify-content: flex-start;
	margin-top: 104px;
	.myblock_one {
		width:971px;
	}
	.myblock_two {
		.section {
			display: none;
		}
	}
}


.bottom_header {
	width:100%;
	background: $bluedark;
	padding:20px 35px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	span.personal {
		color:#fff;
		font-size: 26px;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		@include montserrat_bold;
	}
	div {
		span {
			text-transform: uppercase;
			letter-spacing: 0.28em;
			@include industry_black;
			&:first-of-type {
				color:#9da9b6;
				font-size:14px;
			}
			&:last-of-type {
				color: #3b7dd5;
				font-size:22px;
				position: relative;
				margin-left:10px;
				top:7px;
			}
		}
	}
}

small {
	display: none;
}

.pi_form_wrapper {
	border-left:1px solid #d4d6da;
	border-right:1px solid #d4d6da;
	border-bottom:1px solid #d4d6da;
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
	padding: 50px 47px 30px;
	p {
		line-height: 0;
		flex-basis:49%;
		margin-bottom: 18px;
		position: relative;
		&:after {
			content:"*";
			font-size: 22px;
			color:#3b7dd5;
			position: absolute;
			top: 39px;
			right:23px;
			@include industry_bold;
		}
		&:nth-of-type(1) {
			order:3;
			flex-basis:100%;
		}
		&:nth-of-type(2) {
			order:1;
		}
		&:nth-of-type(3) {
			order:2;
		}
		&:nth-of-type(4) {
			order:4;
			flex-basis:100%;
			&:after {
				display: none;
			}
		}
		label {
			display: none;
		}
		label.error {
			display: block;
			margin-top: 13px;
			color:red;
			@include montserrat_reg;
		}
		input, textarea {
			border:1px solid #d4d6da;
			font-size: 16px;
			width:100%;
			padding:23px 40px 23px 20px;
			letter-spacing: 0.03em;
			color:#002957;
			@include montserrat_reg;
		}
		textarea {
			height:274px !important;
			margin-bottom:0;
		}
	}
}


.myblock_two {
	width:496px;
	border-left:1px solid #d4d6da;
	border-right:1px solid #d4d6da;
	border-bottom:1px solid #d4d6da;
	margin-left:5%;
	position: relative;
	.bottom_header {
		margin-bottom: 49px;
	}
}


.pi_form_wrapper ::-webkit-input-placeholder {
  color: #002957; }
.pi_form_wrapper ::-moz-placeholder {
  color: #002957; }
 .pi_form_wrapperi :-moz-placeholder {
   color: #002957; }
 .pi_form_wrapper :-ms-input-placeholder {
   color: #002957; }
 .pi_form_wrapper ::-moz-placeholder {
    opacity: 1; }


.ea-label, .value {
	display: block;
	padding:0 55px;
}


	.ea-label {
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: 0.16em;
		color:#6091da;
		@include industry_black;
	}
	
	.value {
		font-size:20px;
		line-height: 30px;
		margin-bottom: 21px;
		@include montserrat_reg;
	}
	
	
	.mysubmit {
		width:100%;
		text-align: center;
		position: absolute;
		bottom:43px;
		left:0;
		display: flex !important;
		justify-content: center;
	}
	
	
	.button_wrapper {
		position: relative;
		display: inline-block;
		width: 194px;
    border: 1px solid #ccd1d8;
    height: 89px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin:0 12px;
    &:hover {
	    &:before {
		    background: #387bd4;
	    }
    }
    &:before {
	    content: "";
			display: block;
			position: absolute;
			top: 10px;
			left: 12px;
			width: calc(100% - 24px);
			height: calc(100% - 20px);
			transition: all 300ms linear;
			z-index: -2;
    }
		button {
			background: transparent;
			border: none;
			color: #fff;
			font-size: 17px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			position: absolute;
	    width: 100%;
	    height: 100%;
			top: 0;
			left: 0;
			font-family: industry, sans-serif;
			font-weight: 700;
			font-style: normal;
			cursor: pointer;
		}
	}
	
	.submit_wrapper {
		&:before {
			background: #e20000;
		}
		&:hover {
			&:before {
				background: #387bd4;
			}
		}
	}
	
	
	.cancel_wrapper {
		&:before {
			background: #387bd4;
		}
		&:hover {
			&:before {
				background: #e20000;
			}
		}
	}
	
	.myblock_row {
		
		h4 {
			position: absolute;
			top:0;
			right:0;
			width:100%;
			height:100%;
			background: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			text-transform: uppercase;
			color: #093d9d;
			font-size: 32px;
			text-decoration: none;
			letter-spacing: 0.055em;
			padding-top: 1200px;
			@include montserrat_reg;
		}
	}
