


.about_intro_wrapper {
	padding-left:9%;
}


/*
* {
	border:1px solid red;
}
*/

span.about_firm_subtitle {
	display: block;
	text-transform: uppercase;
	color:$bluedark;
	font-size: 24px;
	letter-spacing: 0.26em;
	margin-top:9px;
	@include industry_black;
	&:after {
		content:"";
		display: inline-block;
		width:77px;
		height:10px;
		margin:6px 0 0 19px;
		vertical-align: top;
		background-size:80px 11px;
		background: url(#{$themePath}images/graphic-squiggle.svg) no-repeat;
	}
}


.about_firm_intro {
	font-size: 35px;
	line-height: 55px;
	color:#738095;
	padding-top:65px;
	max-width:1065px;
	@include montserrat_light;
	p {
		margin-bottom:20px;
	}
}



.about_top_content {
	margin: 93px 0 0 9%;
	display: flex;
}

.about_top_left {
	flex-basis:720px;
	flex-shrink:0;
}

.about_top_right {
	flex-grow:1;
	padding-left:10%;
	margin-top:10px;
	margin-right:-10px;
}

.about_top_video {
	position: relative;
	cursor: pointer;
	&:hover {
		.about_play_wrapper {
			&:before {
				background: $bluelight;
			}
		}
	}
	.about_wistia {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index:1;
	}
	img.about_video_thumb {
		max-width:100%;
		width: 100%;
		height:auto;
		display: block;
	}
	.about_play_wrapper {
		position: relative;
		width:283px;
		height:231px;
		position: absolute;
		bottom:55px;
		left:0;
		z-index:1;
		pointer-events: none;
		&:before {
			content:"";
			display: block;
			width:105px;
			height:105px;
			background: $blue;
			border-radius: 50%;
			position: absolute;
			top: 97px;
			left: 83px;
			z-index:1;
			transition: all 200ms ease-in-out;
		}
		&:after {
			content:"";
			display: block;
			width: 0; 
			height: 0; 
			border-top: 12px solid transparent;
			border-bottom: 12px solid transparent;
			border-left: 15px solid #fff;
			position: absolute;
			top: 137px;
			left: 132px;
			z-index:2;
		}
	}
	img.about_play {
		position: absolute;
		top:0px;
		left:0px;
	}
}


body.page-template-template-about {
	.internal_wrapper {
		max-width:100%;
		padding-left:0;
		padding-right:0;
	}
	
	.content {
		h2 {
			padding-top:28px;
		}
	}
}



.about_middle_content {
	text-align: center;
	padding: 101px 9% 0;
	svg {
		width:88px;
		height:86px;
	}
	.about_middle_quote {
		font-size: 35px;
		line-height: 48px;
		color:#738095;
		max-width:990px;
		margin:33px auto 0;
		@include industry_book;
		p {
			margin-bottom:30px;
		}
	}
	a.button {
		margin-left:auto;
		margin-right:auto;
	}
}



.about_bottom_content {
	max-width:1915px;
	margin: 118px auto 0;
	display: flex;
	padding:0 9%;
	justify-content: space-between;
}


.about_bottom_col {
	flex-basis:46%;
}


@media screen and (max-width: 1700px) {
	
	
	.about_top_left {
		flex-basis: 50%;
	}
	
	.about_top_right {
		padding-left: 8%;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1590px) {
	
	
	.about_top_left {
		flex-basis: 50%;
	}
	
	
	.about_top_right {
		flex-basis: 723px;
		flex-shrink:0;
	}

	
	
} /* Media Query */

@media screen and (max-width: 1450px) {
	
	
	
	.about_intro_wrapper {
		padding-left:97px;
		padding-right:97px;
	}
	
	.about_top_content {
		margin-left:0;
		padding-left:97px;
	}
	
	
	.about_middle_content {
		padding-left:97px;
		padding-right:97px;
	}
	
	.about_bottom_content {
		padding-left:97px;
		padding-right:97px;
	}
	
	.about_top_video {
		.about_play_wrapper {
			bottom: 25px;
			left: -29px;
		}
	}
	
	
	
	
	
	
} /* Media Query */

@media screen and (max-width: 1330px) {
	
	.about_top_left {
		flex-basis: 44%;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1280px) {
	
	
	.about_top_content {
		flex-direction: column;
		padding-right:97px;
		margin: 53px 0 0px 0;
	}
	
	.about_top_left {
		order:2;
	}
	
	.about_top_right {
		order:1;
		padding-left:0;
		flex-basis:100%;
		margin-bottom:60px;
		margin-right:0;
	}
	
	
	.about_middle_content {
		padding: 67px 9% 0;
	}
	
	
	.about_bottom_content {
		display: block;
		margin: 83px auto 0;
	}
	
	
	.about_top_video {
		.about_play_wrapper {
			bottom: 55px;
			left: 0;
		}
	}
	
	
} /* Media Query */



@media screen and (max-width: 1066px) {
	
	
	.about_intro_wrapper {
		padding-left:54px;
		padding-right:54px;
	}
	
	.about_firm_intro {
		font-size: 30px;
		line-height: 48px;
	}
	
	.about_top_content {
		padding-left:54px;
		padding-right:54px;
		margin: 33px 0 0 0;
	}
	
	
	.about_middle_content {
		padding-left:54px;
		padding-right:54px;
		.about_middle_quote {
			font-size: 30px;
			line-height: 48px;
		}
	}
	
	
	
	
	.about_bottom_content {
		padding-left:54px;
		padding-right:54px;
	}
	
	
} /* Media Query */

@media screen and (max-width: 940px) {
	
	
	span.about_firm_subtitle {
		&:after {
			display: block;
			margin: 26px 0 0 0px;
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	
	span.about_firm_subtitle {
		font-size: 17px;
		line-height: 22px;
		letter-spacing: 0.2em;
	}
	
	
	.about_firm_intro {
		padding-top: 40px;
    font-size: 24px;
    line-height: 34px;
	}
	
	
	.about_intro_wrapper {
		padding-left:32px;
		padding-right:32px;
	}
	
	.about_top_content {
		padding-left:32px;
		padding-right:32px;
	}
	
	.about_middle_content {
		padding: 30px 32px 0;
		svg {
			width: 71px;
			height:auto;
		}
		.about_middle_quote {
		 	font-size: 24px;
		 	line-height: 34px;
		}
	}
	
	
	.about_bottom_content {
		padding-left:32px;
		padding-right:32px;
		margin: 30px auto -29px;
	}
	
	
	.about_top_video {
		.about_play_wrapper {
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			&:before, &:after {
				position: relative;
				
			}
			&:before {
				top: -12px;
				left: -6px;
			}
			&:after {
				margin-top: -98px;
				top: -10px;
				left: -4px;
			}
		}
		img.about_play {
			top: -15px;
			left:0;
			position: relative;
			margin-top:-200px;
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 540px) {
	
	
	
	span.about_firm_subtitle {
		max-width: 310px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 460px) {
	
	.about_top_video {
		.about_play_wrapper {
			&:before {
				top: -30px;
			}
			&:after {
				margin-top: -106px;
				top: 7px;
			}
		}
		img.about_play {
			width: 250px;
		}
	}
	
	    


} /* Media Query */